@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@section Scripts{
<script>
    var keyValue = request('keyValue');
    var UNIFIEDCODE = request('UNIFIEDCODE');
    var authToken = getAuthorizationToken();
    var NewIfrem = request('NewIfrem');
    var readonaly = request('readonaly');
    var details = request('details');
    $(function () {
        initControl();
        if (NewIfrem == "") {
            $("input").attr("disabled", "disabled");
            $("#GEOLOGICALENVIRONMENT").attr("disabled", "disabled");
            $("#DEFORMATIONHISTORICALE").attr("disabled", "disabled");
            details = '01'
        } else {
            details = '02'
        }
        $("#MONITORRESPONSIBLE").click(function () {
            if (NewIfrem == "") {
                return
            }
            dialogOpen({
                id: 'ContactPersonForm',
                title: '选择监测责任人',
                //url: '../../ContactPerson/ContactPersonForm',
                url: '/JXGeoManage/TBL_QCQF_ADMINISTRATIVE/TBL_QCQF_ADMINISTRATIVESearch',
                width: '800px',
                height: "500px",
                callBack: function (iframeId) {
                    var data = getInfoTop().frames[iframeId].AcceptClick();
                    $("#MONITORRESPONSIBLE").val(data.NAME)
                    $("#MONITORRESPONSIBLETEL").val(data.TELPHONE)
                }
            });
        })
        $("#GROUPMONITORINGSTAFF").click(function () {
            if (NewIfrem == "") {
                return
            }
            dialogOpen({
                id: 'ContactPersonForm',
                title: '选择群测群防人员',
                //url: '../../ContactPerson/ContactPersonForm',
                url: '/JXGeoManage/TBL_QCQF_OBSERVATION/TBL_QCQF_OBSERVATIONsearch',
                width: '800px',
                height: "500px",
                callBack: function (iframeId) {
                    var data = getInfoTop().frames[iframeId].AcceptClick();
                    $("#GROUPMONITORINGSTAFF").val(data.OBSERVATIONPEOPLE)
                    $("#GROUPMONITORINGSTAFFTEL").val(data.OBSERVATIONPHONE)
                }
            });
        })
        //$("#ALARMPEOPLE").click(function () {
        //    if (NewIfrem == "") {
        //        return
        //    }
        //    dialogOpen({
        //        id: 'ContactPersonForm',
        //        title: '选择报警人',
        //        url: '../../ContactPerson/ContactPersonForm',
        //        width: '800px',
        //        height: "500px",
        //        callBack: function (iframeId) {
        //            var data = getInfoTop().frames[iframeId].AcceptClick();
        //            $("#ALARMPEOPLE").val(data.UserName)
        //            $("#ALARMTEL").val(data.Telephone)
        //        }
        //    });
        //})
        if (readonaly == 01) {
            $(".form-control").attr("disabled", "disabled");
        }
    });
    //初始化控件
    function initControl() {
        //获取防灾预案表表单
        if (UNIFIEDCODE) {
            $.SetForm({
                url: "../../api/TBL_HAZARDBASICINFOApi/GetFormJson2",
                authToken: authToken,
                param: { keyValue: UNIFIEDCODE },
                success: function (data) {
                    $("#DISASTERPREVENTION").SetWebControls(data);
                }

            })
        }
        var mediaguid = $("#GUID").val();
        setTimeout(function () { cfInitMultiMedias("QCQFLmedia", "D83F7E2E-FFD5-41AB-BE62-D3FA37590AF6", mediaguid, details); }, 200);
        //获取灾害点基本信息
        if (UNIFIEDCODE) {
            $.SetForm({
                url: "../../api/TBL_HAZARDBASICINFOApi/GetUNIFIEDCODEEntity",
                authToken: authToken,
                param: { UNIFIEDCODE: UNIFIEDCODE },
                success: function (data) {
                    if (data) {
                        if (data.DANGERLEVEL == "A") {
                            data.DANGERLEVEL = "特大型";
                        } else if (data.DANGERLEVEL == "B") {
                            data.DANGERLEVEL = "大型";
                        } else if (data.DANGERLEVEL == "C") {
                            data.DANGERLEVEL = "中型";
                        } else if (data.DANGERLEVEL == "D") {
                            data.DANGERLEVEL = "小型";
                        }
                        if (data.DISASTERLEVEL == "A") {
                            data.DISASTERLEVEL = "特大型";
                        } else if (data.DISASTERLEVEL == "B") {
                            data.DISASTERLEVEL = "大型";
                        } else if (data.DISASTERLEVEL == "C") {
                            data.DISASTERLEVEL = "中型";
                        } else if (data.DISASTERLEVEL == "D") {
                            data.DISASTERLEVEL = "小型";
                        }
                        $("#HZAR").SetWebControls(data);
                        if (data.hasOwnProperty('LONGITUDE')) {
                            var type = "D°M′S″";
                            if (data.LONGITUDE) {
                                $('#LONGITUDE').val(formatDegree(data.LONGITUDE + "", type));
                            }
                            if (data.LATITUDE) {
                                $('#LATITUDE').val(formatDegree(data.LATITUDE + "", type));
                            }
                        }
                    }
                }

            })
        }
    }

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        $("#LONGITUDE").val(DegreeConvertBack($.trim($("#LONGITUDE").val())));
        $("#LATITUDE").val(DegreeConvertBack($.trim($("#LATITUDE").val())));
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../JXGeoManage/TBL_QCQF_DISASTERPREVENTION/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                try {
                    getInfoTop().learun.currentIframe().$('#gridTable').trigger('reloadGrid');
                } catch (e) {
                    window.parent.$('#gridTable').trigger('reloadGrid');
                }
            }
        })
    }
    //选择灾害点信息
    function xzzhd() {
        if (NewIfrem == "Idetnew") {
            return
        }
        dialogOpen({
            id: 'Form2',
            title: '获取灾害信息',    
            url: '/JXGeoManage/TBL_HAZARDBASICINFO/QCQFZHD',
            width: '970px',
            height: "460px",
            isClose: true,
            callBack: function (iframeId) {
                var selectedRowIndex = getInfoTop().frames[iframeId].$('#gridTable').getGridParam('selrow');
                var dt = getInfoTop().frames[iframeId].$('#gridTable').jqGrid("getRowData", selectedRowIndex);
                parent.qcqf_fz(dt);
                $('#UNIFIEDCODE').val(dt.UNIFIEDCODE);
                $('#DISASTERNAME').val(dt.DISASTERNAME);
                $('#OUTDOORCODE').val(dt.OUTDOORCODE);
                $('#PROVINCENAME').val(dt.PROVINCENAME);
                $('#CITYNAME').val(dt.CITYNAME);
                $('#COUNTYNAME').val(dt.COUNTYNAME);
                $('#LOCATION').val(dt.LOCATION);
                $('#X').val(dt.X);
                $('#Y').val(dt.Y);
                $('#LONGITUDE').val(dt.LONGITUDE);
                $('#LATITUDE').val(dt.LATITUDE);
                $('#THREATENASSETS').val(dt.THREATENASSETS);
                $('#THREATENPEOPLE').val(dt.THREATENPEOPLE);
                if (dt) {
                    if (dt.DANGERLEVEL == "A") {
                        dt.DANGERLEVEL = "特大型";
                    } else if (dt.DANGERLEVEL == "B") {
                        dt.DANGERLEVEL = "大型";
                    } else if (dt.DANGERLEVEL == "C") {
                        dt.DANGERLEVEL = "中型";
                    } else if (dt.DANGERLEVEL == "D") {
                        dt.DANGERLEVEL = "小型";
                    }
                }
                if (dt) {
                    if (dt.DISASTERLEVEL == "A") {
                        dt.DISASTERLEVEL = "特大型";
                    } else if (dt.DISASTERLEVEL == "B") {
                        dt.DISASTERLEVEL = "大型";
                    } else if (dt.DISASTERLEVEL == "C") {
                        dt.DISASTERLEVEL = "中型";
                    } else if (dt.DISASTERLEVEL == "D") {
                        dt.DISASTERLEVEL = "小型";
                    }
                }
                $('#DISASTERLEVEL').val(dt.DISASTERLEVEL);
                $('#DANGERLEVEL').val(dt.DANGERLEVEL);
            }
        });
    }
</script>
}
<style>
    .Ndispplay {
        display: none;
    }

    .uiLTE {
        margin: 0 0;
    }

    #mainContent {
        background: #fff
    }

    .formTitle {
        width: 110px !important;
        background: #ebebeb;
    }

    .haszard {
        background: #C3C3C3;
    }

    .form td {
        border: 1px solid #d6d6d6;
        text-align: center !important;
    }

        .form td input {
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .form td textarea {
            border-top: none;
            border-left: none;
            border-right: none;
        }

    .form-control:disabled {
        background: #fff;
    }

    .formValue {
        background: #fff;
    }

    .ui-select .ui-select-text {
        border: 0px;
    }

    .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .readonly {
        background: #f1efef !important
    }

    .spans {
        padding: 0 10px;
        width: 9%;
        text-align: center;
        height: 28px;
        line-height: 28px;
        min-width: 100px;
    }

    #DEVICETYPECODE, #MONITORPOINTCODE_DEVICE {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<div style="width:100%;height:100%" id="FZYAtable">
    <div style="margin:0 10px;height:100%;overflow:auto">
        <div class="panel-Title" style="background-color: rgba(236, 247, 255, 1);color:#000;height:30px;border-radius:5px;margin:5px 0"><i class="fa fa-bars"></i>基本信息</div>
        <table class="form" id="HZAR">
            <tr>
                <td class="formTitle">统一编号</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="UNIFIEDCODE" class="form-control readonly" onclick="xzzhd()" readonly="readonly" placeholder="请单击选择" isvalid="yes" checkexpession="NotNull" />
                </td>
                <td class="formTitle">灾害点名称</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="DISASTERNAME" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">规模等级</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="DISASTERLEVEL" class="form-control" disabled="disabled" />
                </td>

            </tr>
            <tr style="display:none">
                <td class="formTitle">灾害类型</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="DISASTERTYPE" class="form-control" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">野外编号</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="OUTDOORCODE" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">省</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="PROVINCENAME" class="form-control" />
                </td>
                <td class="formTitle">市</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="CITYNAME" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">县</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="COUNTYNAME" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">乡镇</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="TOWNNAME" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">地理位置</td>
                <td class="formValue" style="background: transparent" colspan="3">
                    <input type="text" id="LOCATION" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">X坐标</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id=X"" class="form-control" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">Y坐标</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="Y" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">经度</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="LONGITUDE" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">纬度</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="LATITUDE" class="form-control" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">威胁财产/（万元）</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="THREATENASSETS" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">威胁人口/（人）</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="THREATENPEOPLE" class="form-control" disabled="disabled" />
                </td>
                <td class="formTitle">险情等级</td>
                <td class="formValue" style="background: transparent">
                    <input type="text" id="DANGERLEVEL" class="form-control" disabled="disabled" />
                </td>
            </tr>
        </table>
        <div class="panel-Title" style="background-color: rgba(236, 247, 255, 1);color:#000;height:30px;border-radius:5px;margin:5px 0"><i class="fa fa-bars"></i>防灾预案信息</div>
        <table class="form" id="DISASTERPREVENTION">
            <tr>
                <td class="formTitle" style="display:none">灾害点编号</td>
                <td class="formValue" style="display:none">
                    <input id="UNIFIEDCODE" type="text" class="form-control DISASTE" />
                </td>
                <td class="formTitle">曾经发生灾害时间</td>
                <td class="formValue">
                    <input id="DISASTERTIME" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />
                </td>
                <td class="formTitle">稳定性分析</td>
                <td class="formValue">
                    <input id="STABILITYANALYSIS" type="text" class="form-control" />
                </td>
                <td class="formTitle">引发因素</td>
                <td class="formValue">
                    <input id="TRIGGERFACTORS" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">地质环境条件</td>
                <td class="formValue" style="background: transparent" colspan="5">
                    <textarea type="text" id="GEOLOGICALENVIRONMENT" class="form-control"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">隐患点类型</td>
                <td class="formValue">
                    <input id="HIDDENPOINTTYPE" type="text" class="form-control" />
                </td>
                <td class="formTitle">潜在危害</td>
                <td class="formValue" style="background: transparent" colspan="3">
                    <input type="text" id="POTENTIALHAZARDS" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">变形特征及历史活动情况</td>
                <td class="formValue" colspan="5">
                    <textarea id="DEFORMATIONHISTORICALE" class="form-control"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">临灾状态预测</td>
                <td class="formValue">
                    <input id="STATEPREDICTION" type="text" class="form-control" />
                </td>
                <td class="formTitle">监测方法</td>
                <td class="formValue">
                    <input id="MONITORMETHOD" type="text" class="form-control" />
                </td>
                <td class="formTitle">监测周期</td>
                <td class="formValue">
                    <input id="MONITORCYCLE" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">监测责任人</td>
                <td class="formValue">   
                    <input id="MONITORRESPONSIBLE" type="text" class="form-control" readonly="readonly" placeholder="点击选择" />
                </td>
                <td class="formTitle">监测责任人电话</td>
                <td class="formValue">
                    <input id="MONITORRESPONSIBLETEL" type="text" class="form-control" disabled />
                </td>
                <td class="formTitle">群测群防人员</td>
                <td class="formValue">
                    <input id="GROUPMONITORINGSTAFF" type="text" class="form-control" readonly="readonly" placeholder="点击选择" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">群测群防人员电话</td>
                <td class="formValue">
                    <input id="GROUPMONITORINGSTAFFTEL" type="text" class="form-control" disabled/>
                </td>
                <td class="formTitle">报警方法</td>
                <td class="formValue">
                    <input id="ALARMMETHOD" type="text" class="form-control" />
                </td>
                <td class="formTitle">报警信号</td>
                <td class="formValue">
                    <input id="ALARMSIGNAL" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">报警人</td>
                <td class="formValue">
                    @*<input id="ALARMPEOPLE" type="text" class="form-control" readonly="readonly" placeholder="点击选择" />*@
                    <input id="ALARMPEOPLE" type="text" class="form-control" />
                </td>
                <td class="formTitle">报警人电话</td>
                <td class="formValue">
                    <input id="ALARMTEL" type="text" class="form-control"  />
                </td>
                <td class="formTitle">预定避灾地点</td>
                <td class="formValue">
                    <input id="BOOKESCAPINGLOCATION" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">人员撤离路线</td>
                <td class="formValue">
                    <input id="EVACUATIONROUTES" type="text" class="form-control" />
                </td>
                <td class="formTitle">防治建议</td>
                <td class="formValue" colspan="3">
                    <input id="TREATMENTSUGGESTION" type="text" class="form-control" />
                </td>
            </tr>
            <tr style="display:none">
                <td class="formTitle">GUID</td>
                <td class="formValue" colspan="3">
                    <input id="GUID" type="text" class="form-control" />
                </td>
            </tr>
        </table>
        <div class="panel-Title" style="background-color: rgba(236, 247, 255, 1); color: #000; height: 30px; border-radius: 5px"><i class="fa fa-bars"></i>附件</div>
        <div style="width: 100%;background:#fff" id="QCQFLmedia"> </div>
    </div>
</div>
