@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div style="margin-top: 10px; margin-right: 30px;">
    <input id="F_ModuleColumnId" type="hidden" value="@Guid.NewGuid().ToString()" />
    <input id="F_ModuleId" type="hidden" />
    <table class="form">
        <tr>
            <th class="formTitle">编号<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="F_EnCode" type="text" class="form-control" placeholder="请输入编号" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">名称<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="F_FullName" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">排序<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="F_SortCode" type="text" class="form-control" placeholder="请输入排序" isvalid="yes" checkexpession="Num" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">描述</th>
            <td class="formValue">
                <input id="F_Description" type="text" class="form-control" />
            </td>
        </tr>
    </table>
</div>

@section Scripts{
<script type="text/javascript">
    var moduleColumnId = learun.request('moduleColumnId');
    var moduleId = learun.request('moduleId');
    $(function () {
        initControl();
    })
    var dataJson = getInfoTop().Form.columnJson;
    //初始化控件
    function initControl() {
        if (!!moduleColumnId) {
            $.each(dataJson, function (i) {
                var row = dataJson[i];
                if (row.F_ModuleColumnId == moduleColumnId) {
                    $("#form1").setWebControls(row);
                }
            });
        } else {
            $("#F_ModuleId").val(moduleId);
        }
    }
    //保存表单
    function AcceptClick(callback) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var data = $("#form1").getWebControls(moduleColumnId);
        data["F_ParentId"] = 0;
        callback(data);
        learun.dialogClose();
    }
</script>
}
