@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">行政区划编号</td>
            <td class="formValue">
                <input id="DISTRICTCODE" type="text" class="form-control"  />
            </td>
            <td class="formTitle">省名称</td>
            <td class="formValue">
                <input id="PROVINCENAME" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">市名称</td>
            <td class="formValue">
                <input id="CITYNAME" type="text" class="form-control"  />
            </td>
            <td class="formTitle">乡镇名称</td>
            <td class="formValue">
                <input id="TOWNNAME" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">县名称</td>
            <td class="formValue">
                <input id="COUNTYNAME" type="text" class="form-control"  />
            
    </table>
</div>

@section Scripts{
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../JXGeoManage/TBL_AUDITAREA/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
            })
        }
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../JXGeoManage/TBL_AUDITAREA/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                      try {
                            getInfoTop().learun.currentIframe().$('#gridTable').trigger('reloadGrid');
                      } catch (e) {
                            window.parent.$('#gridTable').trigger('reloadGrid');
                      }
            }
        })
    }
</script>
}
