
@{
    ViewBag.Title = "服务注册说明";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style type="text/css">
    .orm_title {
        color: #666666;
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        margin-left: 15px;
        font-weight: bold;
        padding-top: 5px;
    }

    .orm_title_note {
        color: #999999;
        height: 24px;
        line-height: 24px;
        margin: 0 15px;
        border-bottom: 1px solid #ededed;
    }

    .action_title1 {
        color: #666666;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 25px;
    }

    .button_style a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        color: #fff;
    }

    .button_style {
        border-bottom: 1px solid #ededed;
        margin: 0 25px;
    }

    .orm_table {
        width: 100%;
    }

        .orm_table tr th {
            color: #5b5b60;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }

        .orm_table tr td {
            vertical-align: top;
            text-align: center;
        }

    .orm_item {
        border: 1px solid #eeeeee;
        margin: 10px;
        text-align: center;
        padding: 20px;
    }

    .orm_item_title {
        background: #007aff;
        padding: 10px 20px;
        border-radius: 8px;
        display: inline-block;
        font-style: italic;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
    }

    .orm_item_title_note {
        font-size: 18px;
        height: 48px;
        line-height: 48px;
    }

    .orm_item_title_note1 {
        color: #333;
        line-height: 24px;
    }

    .orm_action1 {
        margin: 10px;
    }

    .orm_action {
        width: 100%;
    }

        .orm_action tr td {
            border: 1px solid #eeeeee;
            width: 100%;
        }

    .orm_action_title {
        height: 36px;
        line-height: 36px;
        font-weight: bold;
        padding-left: 15px;
        font-size: 14px;
        color: #5b5b60;
    }
</style>


<script type="text/javascript">


    //$(function () {
    //    InitialPage();




    //});
    //初始化页面
    //function InitialPage() {

    //    $(window).resize(function (e) {
    //        window.setTimeout(function () {
    //            $('#abc').height($(window).height() - 20);
    //        }, 200);
    //        e.stopPropagation();
    //    });
    //}



</script>





<div style=" margin:10px;" id="abc">
    <div style="background:#fff; ">
        <div class="orm_title">服务注册说明</div>


        <div style="border-bottom:2px solid #ee8339; margin-top:15px;"></div>


    </div>


    <div class="row" style="background: #fff; margin-bottom: 10px; ">
        <div class="orm_action1">


            <table class="orm_action">


                <tr>
                    <td class="orm_action_title">
                        一、系统名称
                    </td>

                </tr>
                <tr>
                    <td>
                        <div style="padding:15px;">
                            <p class="orm_item_title_note1">
                                在Awebconfig文件中找到BusinessName,修改需要设定的系统名称
                              
                             



                            </p>



                            <p class="orm_item_title_note1">
                                <!--业务系统名称-->
                            </p>

                            <p class="orm_item_title_note1">
                                < add key="BusinessName" value="地下水" />
                            </p>


                        </div>
                    </td>
                    <td></td>
                </tr>

            </table>


        </div>






    </div>



    <div class="row" style="background: #fff; margin-bottom: 10px;">
        <div class="orm_action1">


            <table class="orm_action">


                <tr>
                    <td class="orm_action_title">
                        二、模块名称
                    </td>

                </tr>
                <tr>
                    <td>
                        <div style="padding:15px;">
                            <p class="orm_item_title_note1">在定义的接口中，添加接口的注释</p>


                            <img src="~/Content/adminDefault/img/registor_1.png" />

                           


                        </div>
                    </td>

                </tr>

            </table>


        </div>






    </div>



    <div class="row" style="background: #fff; margin-bottom: 10px;">
        <div class="orm_action1">


            <table class="orm_action">


                <tr>
                    <td class="orm_action_title">
                        三、服务描述
                    </td>

                </tr>
                <tr>
                    <td>
                        <div style="padding:15px;">
                            <p class="orm_item_title_note1">在定义方法中，添加方法的注释</p>

                            <img src="~/Content/adminDefault/img/registor_2.png" />
                        </div>
                    </td>

                </tr>

            </table>


        </div>






    </div>


    <div class="row" style="background: #fff; margin-bottom: 10px;">
        <div class="orm_action1">


            <table class="orm_action">


                <tr>
                    <td class="orm_action_title">
                        四、参数
                    </td>

                </tr>
                <tr>
                    <td>
                        <div style="padding:15px;">
                            <p class="orm_item_title_note1">在定义方法中，添加参数的注释，Param中为参数的注释</p>

                            <img src="~/Content/adminDefault/img/registor_3.png" />
                        </div>
                    </td>

                </tr>

            </table>


        </div>






    </div>

    <div class="row" style="background: #fff; margin-bottom: 10px;">
        <div class="orm_action1">


            <table class="orm_action">


                <tr>
                    <td class="orm_action_title">
                        五、请求方式
                    </td>

                </tr>
                <tr>
                    <td>
                        <div style="padding:15px;">
                            <p class="orm_item_title_note1">在定义方法中，添加参数的注释，Param中为参数的注释</p>

                            <img src="~/Content/adminDefault/img/registor_4.png" />
                            <p class="orm_item_title_note1" style="color:red">      注：简单类型的参数可以有多个，DTO类型的参数最多只能有一个</p>
</div>
                    </td>

                </tr>

            </table>


        </div>






    </div>

</div>