@{
    ViewBag.Title = "审核人明细";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">编号</td>
            <td class="formValue">
                <input id="F_AreaCode" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">名称</td>
            <td class="formValue">
                <input id="F_AreaName" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">简拼</td>
            <td class="formValue">
                <input id="F_SimpleSpelling" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" valign="top" style="padding-top: 4px;">备注
            </th>
            <td class="formValue">
                <textarea id="F_Description" class="form-control" style="height: 70px;"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建用户</td>
            <td class="formValue">
                <input id="F_CreateUserName" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建时间</td>
            <td class="formValue">
                <input id="F_CreateDate" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">修改用户</td>
            <td class="formValue">
                <input id="F_ModifyUserName" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">修改时间</td>
            <td class="formValue">
                <input id="F_ModifyDate" type="text" class="form-control" />
            </td>
        </tr>
    </table>
</div>


@section Scripts{
<script>
    var keyValue = learun.request('keyValue');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            learun.setForm({
                url: "../../SystemManage/Area/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").setWebControls(data);
                    $("#form1").find('.form-control,.ui-select,input').attr('readonly', 'readonly');
                }
            });
        }
    }
</script>
}
