@*
    * 版 本 LearunADMS V6.1.1.7
    * Copyright 2011-2016 Learun, Inc.
    * LR-0101
*@
@{
    ViewBag.Title = "编辑控件";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .dataSources, .dataDataDb {
        display: none;
    }
</style>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <th class="formTitle">字段标识</th>
            <td class="formValue">
                <input id="ControlId" disabled type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">字段名称</th>
            <td class="formValue">
                <input id="ControlName" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">字段类型</td>
            <td class="formValue">
                <select id="ControlType" class="form-control">
                    <option value="input">文本框</option>
                    <option value="select">下拉框</option>
                    <option value="datetime">日期框</option>
                    <option value="textarea">文本区</option>
                </select>
            </td>
        </tr>
        <tr class="dataSources">
            <td class="formTitle">数据类型</td>
            <td class="formValue">
                <select id="ControlDataSource" class="form-control">
                    <option value="dataItem">数据字典</option>
                    <option value="dataDb">数据表</option>
                </select>
            </td>
        </tr>
        <tr class="dataSources dataDataItem">
            <td class="formTitle">数据字典</td>
            <td class="formValue">
                <div id="ControlDataItemEncode" type="selectTree" class="ui-select"></div>
            </td>
        </tr>
        <tr class="dataSources dataDataDb">
            <td class="formTitle">数据库</td>
            <td class="formValue">
                <select id="ControlDataDb" class="form-control"></select>
            </td>
        </tr>
        <tr class="dataSources dataDataDb">
            <td class="formTitle">数据表</td>
            <td class="formValue">
                <select id="ControlDataTable" class="form-control"></select>
            </td>
        </tr>
        <tr class="dataSources dataDataDb">
            <td class="formTitle">id字段名</td>
            <td class="formValue">
                <select id="ControlDataFliedId" class="form-control"></select>
            </td>
        </tr>
        <tr class="dataSources dataDataDb">
            <td class="formTitle">text字段名</td>
            <td class="formValue">
                <select id="ControlDataFliedText" class="form-control"></select>
            </td>
        </tr>
    </table>
</div>
<script>
    (function ($) {
        "use strict";

        $.form = {
            controlId: request('controlId'),
            dataJson: {
                controlId: "",
                controlName: "",
                controlType: "",
                controlDataSource: "",
                controlDataItemEncode: "",
                controlDataItemEncodeValue: "",
                controlDataDb: "",
                controlDataTable: "",
                controlDataFliedId: "",
                controlDataFliedText: ""
            },
            initControl: function () {
                $('#ControlType').on('change', function () {
                    var $obj = $(this);
                    var value = $obj.val();
                    if (value == "select") {
                        $('.dataSources').show();
                        var datasourceType = $('#ControlDataSource').val();
                        if (datasourceType == "dataItem") {
                            $('.dataDataDb').hide();
                        }
                        else {
                            $('.dataDataItem').hide();
                        }
                    }
                    else {
                        $('.dataSources').hide();
                    }
                });
                $('#ControlDataSource').on('change', function () {
                    var $obj = $(this);
                    var value = $obj.val();
                    if (value == "dataItem") {
                        $('.dataDataItem').show();
                        $('.dataDataDb').hide();
                    }
                    else {
                        $('.dataDataItem').hide();
                        $('.dataDataDb').show();
                    }
                });
                $("#ControlDataItemEncode").comboBoxTree({
                    url: "../../SystemManage/DataItem/GetTreeJson",
                    maxHeight: "200px",
                    click: function (item) {
                        $.form.dataJson.controlDataItemEncodeValue = item.value;
                        //console.log(item);
                    }
                });
                $.ajax({
                    url: "../../SystemManage/DataBaseLink/GetListJson",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#ControlDataDb").append($("<option title='请选择'></option>").html("请选择"));
                        $.each(data, function (i) {
                            $("#ControlDataDb").append($("<option title='" + data[i].F_DBName + "'></option>").val(data[i].F_DatabaseLinkId).html(data[i].F_DBAlias));
                            $("#ControlDataDb").change(function () {
                                $.ajax({
                                    url: "../../SystemManage/DataBaseTable/GetTableListJson",
                                    data: { dataBaseLinkId: $("#ControlDataDb").val() },
                                    type: "get",
                                    dataType: "json",
                                    async: false,
                                    success: function (data) {
                                        
                                        $("#ControlDataTable").html("");
                                        $("#ControlDataFliedId").html("");
                                        $("#ControlDataFliedText").html("");
                                        $("#ControlDataTable").append($("<option title='请选择'></option>").html("请选择"));
                                        if (data.errorcode != 0)
                                        {
                                            //绑定表
                                            $.each(data, function (i) {
                                                $("#ControlDataTable").append($("<option></option>").val(data[i].f_name).html(data[i].f_name));
                                            });
                                            //表字段
                                            $("#ControlDataTable").change(function () {

                                                $.ajax({
                                                    url: "../../SystemManage/DataBaseTable/GetTableFiledListJson",
                                                    data: { dataBaseLinkId: $("#ControlDataDb").val(), tableName: $("#ControlDataTable").val() },
                                                    type: "get",
                                                    dataType: "json",
                                                    async: false,
                                                    success: function (data) {
                                                        $("#ControlDataFliedId").html("");
                                                        $("#ControlDataFliedText").html("");
                                                        $.each(data, function (i) {
                                                            $("#ControlDataFliedId").append($("<option title='" + data[i].f_remark + "'></option>").val(data[i].f_column).html(data[i].f_column));
                                                            $("#ControlDataFliedText").append($("<option title='" + data[i].f_remark + "'></option>").val(data[i].f_column).html(data[i].f_column));
                                                        });
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            });
                        });
                    }
                });
            },
            initData: function () {
                $.form.dataJson = $.extend($.form.dataJson, getInfoTop().Form.$.codeBuilder.formPage.primaryFormJson);
                $.each($.form.dataJson, function (id, item) {
                    if (item.controlId == $.form.controlId) {
                        $("#ControlId").val(item.controlId);
                        $("#ControlName").val(item.controlName);
                        $('#ControlType').val(item.controlType);
                        if (item.controlType == "select") {
                            $('#ControlType').trigger('change');
                            $('#ControlDataSource').val(item.controlDataSource);
                            $('#ControlDataSource').trigger('change');
                            if (item.controlDataSource == "dataItem") {
                                console.log(item.controlDataItemEncode);
                                $('#ControlDataItemEncode').ComboBoxTreeSetValue(item.controlDataItemEncode);
                            }
                            else {
                                $('#ControlDataDb').val(item.controlDataDb);
                                $('#ControlDataDb').trigger('change');
                                $('#ControlDataTable').val(item.controlDataTable);
                                $('#ControlDataTable').trigger('change');
                                $('#ControlDataFliedId').val(item.controlDataFliedId);
                                $('#ControlDataFliedText').val(item.controlDataFliedText);
                            }
                        }
                        return false;
                    }
                });
            },
            acceptClick: function (callBack) {
                var _data = {
                    controlId: $("#ControlId").val(),
                    controlName: $("#ControlName").val(),
                    controlType: $("#ControlType").val(),
                    controlDataSource: $("#ControlDataSource").val(),
                    controlDataItemEncode: $("#ControlDataItemEncode").attr('data-value'),
                    controlDataItemEncodeValue: $.form.dataJson.controlDataItemEncodeValue,
                    controlDataDb: $("#ControlDataDb").val(),
                    controlDataTable: $("#ControlDataTable").val(),
                    controlDataFliedId: $("#ControlDataFliedId").val(),
                    controlDataFliedText: $("#ControlDataFliedText").val()
                }
                if (_data.controlName == "") {
                    dialogTop("请填写字段名称", "error");
                }
                else {
                    callBack(_data);
                    dialogClose();
                }
            }
        };

        $(function () {
            $.form.initControl();
            $.form.initData();
        });
    })(window.jQuery);
</script>
