@{
    ViewBag.Title = "审核页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="DZHJManage" style="width:100%;">
    <ul class="nav nav-tabs" style="background:rgba(236, 247, 255, 1)">
        <li class="active" id="li_HPGL"><a href="#HPGL" data-toggle="tab">待审核</a></li>
        <li id="li_BTGL"><a href="#BTGL" data-toggle="tab">审核历史</a></li>
    </ul>
    <div id="myTabContent" class="tab-content" style="height: 100%; width: 100%;">
        <div class="tab-pane fade in active" id="HPGL" style="height: 100%; width: 100%;">
            <div style="width:100%;height:80px;">
                <div style="width:100%;height:40px;display:flex;align-items: center;justify-content: flex-start;">
                    <span class="spans">关键字:</span><input id="txt_Keyword1" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 20%;" />
                    <span class="spans">修改类型:</span><div id="updateTypes" type="selectTree" class="ui-select" style="width: 20%;"></div>
                </div>
                <div style="width:100%;height:40px;display:flex;align-items: center;justify-content: flex-start;">
                    <span class="spans">开始时间:</span><input id="StartTime1" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd 00:00:00' })" style="width:20%" />
                    <span class="spans">结束时间:</span><input id="EndTime1" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd 23:59:59' })" style="width:20%" />
                    <a id="btn_Search_Submit" class="btn btn-primary" style="margin-left:30px"><i class="fa fa-search"></i> 查询</a>
                    <a id="btn_Submit" onclick="" class="btn btn-primary" style="margin-left:30px;"><i class="fa fa-save"></i>&nbsp;数据审核</a>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="BTGL" style="height: 100%; width: 100%;">
            <div style="width:100%;height:80px;" id="filter-form">
                <div style="width:100%;height:40px;display:flex;align-items: center;justify-content: flex-start;">
                    <span class="spans">关键字:</span><input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 20%;" />
                    <span class="spans">审核状态:</span><div id="status" type="selectTree" class="ui-select" style="width: 20%;"></div>
                    <span class="spans">修改类型:</span><div id="updateType" type="selectTree" class="ui-select" style="width: 20%;"></div>
                </div>
                <div style="width:100%;height:40px;display:flex;align-items: center;justify-content: flex-start;">
                    <span class="spans">开始时间:</span><input id="StartTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd 00:00:00' })" style="width:20%" />
                    <span class="spans">结束时间:</span><input id="EndTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd 23:59:59' })" style="width:20%" />
                    <a id="btn_Search" class="btn btn-primary" style="margin-left:30px"><i class="fa fa-search"></i> 查询</a>
                </div>
                @*<table style="width:100%;height:40px;" class="from">
                    <tr>
                        <td style="width:200px;padding-left:20px">
                            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                        </td>
                        <td style="padding-left:30px;width:150px">
                            <div id="status" type="selectTree" class="ui-select"></div>
                        </td>
                        <td style="padding-left:30px;width:150px">
                            <div id="updateType" type="selectTree" class="ui-select"></div>
                        </td>
                        <td style="padding-left: 30px; width: 100px">
                            <span>审核时间：</span>
                        </td>
                        <td style="width: 180px; padding-left: 30px;line-height:30px;">
                            <input id="StartTime" type="text" class="input-wdatepicker" onfocus="WdatePicker()" />
                        </td>
                        <td style="width: 180px; padding-left: 30px; line-height: 30px;">
                            <input id="EndTime" type="text" class="input-wdatepicker" onfocus="WdatePicker()" />
                        </td>
                        <td style="padding-left:30px;">
                            <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i> 查询</a>
                        </td>
                    </tr>
                </table>*@
            </div>
            <div class="gridPanel">
                <table id="gridTablehistory"></table>
                <div id="gridPagerhistory"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .spans {
        display: inline-block;
        width: 100px;
        min-width: 100px;
        text-align: center;
        height: 40px;
        line-height: 40px
    }

    .form-control, .ui-select-text {
        border-radius: 4px;
    }

    body {
        margin: 0;
    }

    #gridTable td, #gridTablehistory td {
        border-right: 1px solid #ccc !important;
    }

    .ui-jqgrid-btable tr:nth-child(odd) {
        /*background: #DCDCDC*/
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-widget-content td a {
        color: #fff
    }
</style>

@section Scripts{
<script type="text/javascript">
    var authToken = getAuthorizationToken();
    var bussnessType = request('bussnessType');
    var columns = [];
    $(function () {
        InitialPage();
        initSelect();
        GetGrid();
        GetGridhistor();

        //查询点击事件
        $("#btn_Search").click(function () {
            SearchEvent();
        });
        $("#btn_Search_Submit").click(function () {
            SearchEvent_Submit();
        });
        $("#btn_Submit").click(function () {
            SubmitAudit();
        });


        $('#gridTable').setGridWidth(($(window).width()));
        $('#gridTable').setGridHeight($(window).height() - 195 + 12);
        $('#gridTablehistory').setGridWidth(($(window).width()));
        $('#gridTablehistory').setGridHeight($(window).height() - 195 + 12);
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($(window).width()));
                $('#gridTable').setGridHeight($(window).height() - 195 + 12);
                $('#gridTablehistory').setGridWidth(($('#gridTable').width()));
                $('#gridTablehistory').setGridHeight($(window).height() - 195 + 12);
            }, 200);
            e.stopPropagation();
        });

        if (bussnessType == "A") {
            columns = [{ label: '审核ID', name: 'GUID', index: 'GUID', width: 150, align: 'left', sortable: true, hidden: true },
            { label: '业务ID', name: 'BUSINESSID', index: 'BUSINESSID', width: 150, align: 'left', sortable: true, hidden: true },
            {
                label: '统一编号', name: 'BASICINFO', index: 'BASICINFO', width: 150, align: 'left', sortable: true, formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue) {
                        return cellvalue.split(',')[2];
                    } else
                        return '';
                }
            },
            {
                label: '灾害点名称', name: 'BASICINFO', index: 'BASICINFO', width: 250, align: 'left', sortable: true, formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue) {
                        return cellvalue.split(',')[1];
                    } else
                        return '';
                }
            },
            {
                label: '灾害类型', name: 'BASICINFO', index: 'BASICINFO', width: 100, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue) {
                        return cellvalue.split(',')[3];
                    } else
                        return '';
                }
            },
            {
                label: '审核状态', name: 'STATUS', index: 'STATUS', width: 150, align: 'center', sortable: true,
                formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue == 0) {
                        return '<span class=\"label label-default\">未提交</span>';
                    } else if (cellvalue == 1) {
                        return '<span class=\"label label-default\">待审核</span>';
                    } else if (cellvalue == 2) {
                        return '<span class=\"label label-success\">审核通过</span>';
                    } else if (cellvalue == 3) {
                        return '<span class=\"label label-danger\" >审核不通过</span>';
                    } else if (cellvalue == 4) {
                        return '<span class=\"label label-default\" >已撤销</span>';
                    }
                }
            },
            { label: '审核时间', name: 'AUDITTIME', index: 'AUDITTIME', width: 200, align: 'left', sortable: true, hidden: true },
            { label: '提交人', name: 'UPDATEUSER', index: 'UPDATEUSER', width: 200, align: 'center', sortable: true },
            { label: '修改类型', name: 'UPDATETYPE', index: 'UPDATETYPE', width: 100, align: 'center', sortable: true, formatter: "select", editoptions: { value: "A:新增;U:更新;D:销号;R:删除;I:批量导入" } },
            { label: '修改日期', name: 'UPDATETIME', index: 'UPDATETIME', width: 200, align: 'left', sortable: true },
            {
                label: '对比信息', name: 'BASICINFO', index: 'BASICINFO', width: 200, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.UPDATETYPE == 'A' || rowObject.UPDATETYPE == 'D' || rowObject.UPDATETYPE == 'R') {
                        var guidType = rowObject.BUSINESSID + "," + cellvalue.split(',')[3] + "," + cellvalue.split(',')[2];
                        var cc = guidType.split(',');
                        var str = cc[0] + "," + escape(cc[1]) + "," + cc[2];
                        return "<a style='color:blue;cursor: pointer;' onclick='Read(\"" + str + "\")'>查看</a>";
                    } else if (cellvalue) {
                        var guidType = rowObject.BUSINESSID + "," + cellvalue.split(',')[3] + "," + cellvalue.split(',')[2];
                        return "<a style='color:blue;cursor: pointer;' onclick='Compare(\"" + guidType + "\")'>对比</a>";
                    } else {
                        return '';
                    }

                }
            }];
        }
    }

    function Compare(cellvalue) {
        var cc = cellvalue.split(',');
        var type = '01';
        switch (cc[1]) {
            case "滑坡":
                type = '01';
                break;
            case "崩塌":
                type = '02';
                break;
            case "泥石流":
                type = '03';
                break;
            case "地面沉降":
                type = '04';
                break;
            case "地面塌陷":
                type = '05';
                break;
            case "地裂缝":
                type = '06';
                break;
            case "斜坡":
                type = '07';
                break;
            default:
                break;
        }

        dialogOpen({
            id: 'CompareForm',
            title: '对比' + cc[1] + '信息',
            url: '/JXGeoManage/TBL_HAZARDBASICINFO/HarzardCompare?type=' + type + "&keyValue=" + cc[0] + "&dmt=" + cc[2] + "&flag=true",
            width: '100%',
            height: '',
            btn: []
        });
    }
    function Read(cellvalue) {
        var cc = cellvalue.split(',');
        var str = unescape(cc[1]);
       var type = '01';
        switch (str) {
            case "滑坡":
                type = '01';
                break;
            case "崩塌":
                type = '02';
                break;
            case "泥石流":
                type = '03';
                break;
            case "地面沉降":
                type = '04';
                break;
            case "地面塌陷":
                type = '05';
                break;
            case "地裂缝":
                type = '06';
                break;
            case "斜坡":
                type = '07';
                break;
            default:
                break;
        }

        dialogOpen({
            id: 'CompareForm',
            title: '查看' + str + '信息',
            url: '/JXGeoManage/TBL_HAZARDBASICINFO/HarzardCompare?type=' + type + "&dmt=" + cc[2] + "&keyValue=" + cc[0] + "&flag=false",
            width: '1366px',
            height: '',
            btn: []
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = $("#filter-form").getWebControls();
        queryJson.bussnessType = bussnessType;
        queryJson["status"] = "1";

        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 205 + 12,
            url: "../../api/TBL_AUDITINFOApi/GetPageAuditListJson",
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: columns,
            multiselect: true,
            viewrecords: true,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'UPDATETIME',
            rowNum: 30,
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
               // $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //加载表格
    function GetGridhistor() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTablehistory');
        var queryJson = $("#filter-form").getWebControls();
        queryJson.bussnessType = bussnessType;
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 195 + 12,
            url: "../../api/TBL_AUDITINFOApi/GetPageAuditListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: columns,
            viewrecords: true,
            rowList: [30, 50, 100],
            pager: "#gridPagerhistory",
            sortname: 'AUDITTIME',
            sortorder: 'desc',
            rownumbers: true,
            rowNum: 30,
            shrinkToFit: true,
            gridview: true,
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
               // $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //查询表格函数
    function SearchEvent_Submit() {
        var queryJson = $("#filter-form").getWebControls();
        queryJson.bussnessType = bussnessType;
        queryJson["status"] = "1";
        queryJson["txt_Keyword"] = $("#txt_Keyword1").val();
        queryJson["updateType"] = $("#updateTypes").attr("data-value");
        queryJson["StartTime"] = $("#StartTime1").val();
        queryJson["EndTime"] = $("#EndTime1").val();
        $("#gridTable").jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) },
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            url: "../../api/TBL_AUDITINFOApi/GetPageAuditListJson",
            page: 1
        }).trigger('reloadGrid');
    }
    function SearchEvent() {
        var queryJson = $("#filter-form").getWebControls();
        queryJson.bussnessType = bussnessType;
        $("#gridTablehistory").jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) },
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            url: "../../api/TBL_AUDITINFOApi/GetPageAuditListJson",
            page: 1
        }).trigger('reloadGrid');
    }
    //审核按钮
    function SubmitAudit() {
        var $gridTable = $('#gridTable');
        var rowIndexs = $gridTable.jqGrid('getGridParam', 'selarrrow');
        if (rowIndexs.length > 0) {
            //打开审核窗口
            learun.dialogOpenConfirm({
                id: 'Form1',
                title: '提交审核信息',
                url: '/JXGeoManage/TBL_AUDITINFO/AuditInfoForm',
                width: '700px',
                height: '500px',
                btn: ["审核通过", "审核不通过"],
                isClose:true,
                callBack: function (iframeId, b) {               
                    var auditInfo = getInfoTop().frames[iframeId].AcceptClick();
                    auditInfo.state = b == true ? 2 : 3;                  
                    //获取需要审核的数据业务ID
                    var busnessIds = new Array();
                    for (var i = 0; i < rowIndexs.length; i++) {
                        var data = $gridTable.jqGrid('getRowData', rowIndexs[i]);
                        busnessIds.push(data.GUID);
                    }
                    auditInfo.keyValues = busnessIds;
                    $('#gridTable').trigger('reloadGrid');
                    $.SaveForm({
                        url: "../../api/TBL_AUDITINFOApi/AuditData",
                        loading: "正在提交数据...",
                        param: auditInfo,
                        authToken: authToken,
                        success: function () {
                            try {
                                
                                getInfoTop().learun.currentIframe().$('#gridTable').trigger('reloadGrid');
                                getInfoTop().learun.currentIframe().$('#gridTablehistory').trigger('reloadGrid');
                                $('#gridTable').trigger('reloadGrid');
                                $('#gridTablehistory').trigger('reloadGrid');
                                
                            } catch (e) {
                                $('#gridTable').trigger('reloadGrid');
                                $('#gridTablehistory').trigger('reloadGrid');
                                window.parent.$('#gridTable').trigger('reloadGrid');
                                window.parent.$('#gridTablehistory').trigger('reloadGrid');
                            }
                        }
                    })

                }
            });
        }
        else {
            dialogMsg('请选择需要审核的数据！', 0);
        }
    }

    function initSelect() {
        $("#status").ComboBox({
            id: "value",
            text: "label",
            description: "全部审核状态",
            height: "170px",
            data: [
                { label: "待审核", value: "1" },
                { label: "审核通过", value: "2" },
                { label: "审核不通过", value: "3" }
            ]
        });

        $("#updateType").ComboBox({
            id: "value",
            text: "label",
            description: "全部修改类型",
            height: "170px",
            data: [
                { label: "新增", value: "A" },
                { label: "更新", value: "U" },
                { label: "销号", value: "D" },
                { label: "删除", value: "R" }
            ]
        });

        $("#updateTypes").ComboBox({
            id: "value",
            text: "label",
            description: "全部修改类型",
            height: "170px",
            data: [
                { label: "新增", value: "A" },
                { label: "更新", value: "U" },
                { label: "销号", value: "D" },
                { label: "删除", value: "R" }
            ]
        });
    }
</script>
}
