@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .Ndispplay {
        display: none;
    }

    #mainContent {
        background: #fff;
    }

    .formTitle {
        width: 110px !important;
        background: #f6f6f6;
    }

    .haszard {
        background: #C3C3C3;
    }

    .form td {
        border: 1px solid #d6d6d6;
        text-align: center !important;
    }

        .form td input {
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .form td textarea {
            border-top: none;
            border-left: none;
            border-right: none;
        }

    .form-control:disabled {
        background: #fff;
    }

    .formValue {
        background: #fff;
    }

    .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .readonly {
        background: #f5f5f5 !important;
    }

    #DEVICETYPECODE, #MONITORPOINTCODE_DEVICE {
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-state-highlight a, .ui-widget-content .ui-state-highlight a {
        color: #fff !important;
        cursor: pointer;
    }
</style>
<div style="width: 100%; height: 100%" id="layout">
    <div style="height: 40px; width: 100%;">
        <ul class="nav nav-tabs" style="padding-top: 2px">
            <li class="active" id="li_XMXX"><a href="" data-toggle="tab">治理工程信息列表</a></li>
            <li style="float: right; margin-right: 25px;" id="li_close">
                <a class="btn btn-default" id="gb" style="border: 1px solid #ccc;float:left; border-radius: 4px; margin-top: 5px; padding: 5px 10px;" onclick="thisClose('tjjg')"><i class="fa fa-close"></i>关闭</a>
                <a class="btn btn-default" style="border: 1px solid #ccc; float:left;border-radius: 4px; margin-top: 5px; padding: 5px 10px;" onclick="xiangqing()">详情</a>
            
</li>
        </ul>
    </div>
    <div class="ui-layout" id="layout2" style="height: calc(100% - 40px); width: 100%;">
        <div id="myTabContent" class="tab-content" style="height: 100%; width: 100%;">
            <div class="gridPanel" style="height: 100%; width: 100%;">
                <table id="gridTable" style="height: 100%; width: 100%;"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var code = request('code');
        var compparam = request('compparam');
    var authToken = getAuthorizationToken();
    var readonly = request('readonly');
    var details = request('details');
    var bj = request('bj');
    var callback = request('callback');//"返回"跳转url
    $(function () {
        GetGrid();
        InitialPage();
        //if (bj = "yincang") {
        //    $("#li_close").hide();
        //}
        if (details == 01) {
            $("#gb").hide();
        }
    });
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var queryJson = {}
        queryJson["AreaCode"] = code;
        if (compparam) {
            queryJson["COMPPARAM"] = compparam;
        }
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 110,
            url: "../../api/TBL_ZLGC/GetZLGTJResult",
            datatype: "json",
            colModel: [
                { label: 'GUID', name: 'GUID', index: 'GUID', width: 100, align: 'left', sortable: true, hidden: true },
                { label: '治理工程名称', name: 'ZLGCNAME', index: 'ZLGCNAME', width: 250, align: 'left', sortable: true },
                { label: '灾害点名称', name: 'DISASTERNAME', index: 'DISASTERNAME', width: 250, align: 'left', sortable: true },
                { label: '灾害点编号', name: 'UNIFIEDCODE', index: 'UNIFIEDCODE', width: 200, align: 'left', sortable: true, hidden: true },
                { label: '灾害点类型', name: 'DISASTERTYPE', index: 'DISASTERTYPE', width: 100, align: 'left', sortable: true },
                { label: '项目阶段', name: 'ZLSTATE', index: 'ZLSTATE', width: 100, align: 'left', sortable: true },
                { label: '负责单位', name: 'XMFZDW', index: 'XMFZDW', width: 200, align: 'left', sortable: true },
                { label: '批复资金(万元)', name: 'XMPFZJ', index: 'XMPFZJ', width: 100, align: 'left', sortable: true },
                {
                    label: '立项时间', name: 'XMJLXSJ', index: 'XMJLXSJ', width: 100, align: 'left', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue) {
                            cellvalue = cellvalue.replace("T00:00:00", " ");
                        } else {
                            cellvalue = "";
                        }
                        return cellvalue;
                    }
                },
                { label: '工程地理位置', name: 'LOCATION', index: 'LOCATION', width: 300, align: 'left', sortable: true },
                { label: '经度', name: 'LONGITUDE', index: 'LONGITUDE', width: 100, align: 'left', sortable: true, hidden: true, },
                { label: '纬度', name: 'LATITUDE', index: 'LATITUDE', width: 100, align: 'left', sortable: true, hidden: true, },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'GUID',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,       
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);

            }
        });
    }

    //详情
    function xiangqing1() {
        var keyValue = $("#gridTable").jqGridRowValue('GUID');
        if (checkedRow(keyValue)) {
            ViewZLGCDetail(keyValue);
        }
    }

    //详情新标签栏打开方式
    function ViewZLGCDetail(keyValue) {
        var url = document.location.protocol + "//" + document.location.host + '/JXGeoManage/TBL_ZLGC_BASEINFO/TBL_ZLGC_BASICAMANAGE?keyValue=' + keyValue + '&IdetIfrem=Idetnew' + "&readonly=01" + "&details=01" + "&callback=" + document.URL;
        newTabs({
            id: "ZLGCXQ",
            url: url
        });
    }

    function xiangqing() {
        var keyValue = $("#gridTable").jqGridRowValue('GUID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'FormZLGCLIST',
                title: '治理工程信息表',
                url: '/JXGeoManage/TBL_ZLGC_BASEINFO/TBL_ZLGC_BASICAMANAGE?&keyValue=' + keyValue + '&xq=02&details=01',
                width: '1300px',
                height: '700px',
                callBack: function (iframeId) {
                    getInfoTop().frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //初始化页面
    function InitialPage() {

        //resize重设布局;
        $(window).resize(function (e) {
            resize();
            e.stopPropagation();
        });
        function resize() {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()) - 20);
                $('#layout2 .ui-layout-center').width($('#layout2 .ui-layout-center').parent().width()-20);
                $('#layout2 .ui-layout-resizer').width($('#layout2 .ui-layout-center').parent().width() - 20);
                $('.ui-jqgrid-bdiv').height($(window).height() - 120);
                $('#layout2 .ui-layout-center').height($(window).height() - 120);
                $('#gridTable').setGridHeight($(window).height() - 120);
               // $('#layout2 .ui-layout-center').css('overflow', 'hidden');
            }, 200);
        };
        $(window).resize();
    }
    </script>
}


