@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_IndexMap.cshtml";
}
 <style>
     .ui-layout-center {
         overflow-x: hidden !important;
     }

     .ui-layout-resizer {
         background-color: #f0f3f4 !important;
     }

     #gridTable td {
         border-right: 1px solid #ccc !important;
     }

     .ui-jqgrid-btable tr:nth-child(odd) {
         /*background:#DCDCDC*/
     }

     .fa-folder-open {
         color: transparent !important;
         background: url("../../Content/images/zTreeStandard.png") no-repeat;
         background-position: -110px -16px;
         margin-right: 2px;
         width: 16px !important;
         height: 16px !important;
     }

     .fa-folder {
         color: transparent !important;
         background: url("../../Content/images/zTreeStandard.png") no-repeat;
         background-position: -110px 0;
         margin-right: 2px;
         width: 16px !important;
         height: 16px !important;
     }

     .fa-file-o {
         color: transparent !important;
         background: url("../../Content/images/zTreeStandard.png") no-repeat;
         background-position: -110px -32px;
         width: 16px !important;
         height: 16px !important;
     }
 </style>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west" style="height: 100%">
        <div class="west-Panel" style="margin: 0px; height: 100%">
            <div class="panel-Title" style="height: 40px; line-height: 40px; background-color: rgba(236, 247, 255, 1); color: #000">行政区划</div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center" id="ui_center">
        <div class="center-Panel" style="height: 100%; width: 100%; margin-top: 0px; overflow-y: hidden;">
            <div class="ui-layout" id="layout2" style="height: 100%; width: 100%;">
                <div class="ui-layout-north" id="ui_map" style="height: 350px;position:relative;">
                    <div id="mapControl" style="height: 350px;"></div>
                    <div id="tl" style="position: absolute; bottom: 0%; right: 0%;">
                        <img src="~/Content/images/七大类图例.png" />
                    </div>
                </div>
                <div class="ui-layout-center" id="ui_grid">
                    <div class="titlePanel" style="height: 40px; line-height: 40px">
                        <div class="title-search" id="filter-form" style="height: 40px; line-height: 40px">
                            <table>
                                <tr>
                                    <td>
                                        <input id="NAMESS" type="text" class="form-control" placeholder="工程名称、灾害名称" style="width: 200px;" />
                                    </td>
                                    <td style="padding-left: 5px;">
                                        <a id="btn_Search" class="btn btn-primary" style="margin-bottom: 6px"><i class="fa fa-search"></i>查询</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="toolbar" style="height: 40px; line-height: 40px">
                            <div class="btn-group" style="margin-bottom: 3px">
                                <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                                <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
                                <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
                                <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
                                <a id="lr-colgrid" class="btn btn-default" onclick="ColDataGrid()"><i class="fa fa-chevron-down"></i>列表</a>
                                <a id="lr-colmap" class="btn btn-default" onclick="ColMapDiv()"><i class="fa fa-chevron-up"></i>地图</a>
                            </div> 
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="gridPanel">
                        <table id="gridTable"></table>
                        <div id="gridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
<script>
    var layout2NorthH = 1;
    var authToken = getAuthorizationToken();
    var AreaCode = DefalutCode, PROVINCE = "", CITY = "", COUNTY = "";
    $(function () {
        InitialPage();
        GetMapData();
        GetTree();
        GetGrid();
        BindMapMarker();
    });
    //查询事件
    $("#btn_Search").click(function () {
        SearchEvent();
    });
    //初始化页面
    function InitialPage() {
        var isResize = 0;
        var count = 0;
        var resized = 0;
        //layout布局
        $('#layout').layout({
            west__size: 190,
            applyDemoStyles: true,
            onresize: function () {
                if (isResize < 10) {
                    isResize++;
                }
                resize();
            }
        });
        $('#layout2').layout({
            applyDemoStyles: true,
            onresize: function () {
                resize();
                if (isResize > 1) {
                    resized = 1;
                } else {
                    if (count == 1 || resized == 0) {
                        $('#layout2 .ui-layout-center').height($('#layout2 .ui-layout-center').height() - 18 + 9);
                    }
                }
                count++;
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            if (isResize < 10) {
                isResize++;
            }
            resize();
            e.stopPropagation();
        });
        function resize() {
            window.setTimeout(function () {
                if (mapCtlExt != null) {
                    mapCtlExt.setHeight($('#mapControl').parent().height() - 4);
                }
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#layout2 .ui-layout-center').width($('#layout2 .ui-layout-center').parent().width() - 10);
                $('#layout2 .ui-layout-resizer').width($('#layout2 .ui-layout-center').parent().width() - 10);
                $('.ui-jqgrid-bdiv').height($('#layout2 .ui-layout-center').height() - 60 - 60);
                $('#layout2 .ui-layout-center').height($('#layout2').height() - $('#layout2 .ui-layout-north').height() - 15 + 9);
                $('#gridTable').setGridHeight($('#layout2 .ui-layout-center').height() - 107 + 11 - 6);
                $('#layout2 .ui-layout-center').css('overflow', 'hidden');
                $("#itemTree").height($('.ui-layout-west').height() - 45);
            }, 200);
        };
        $(window).resize();
        $('#layout2 .ui-layout-center').height($('#layout2 .ui-layout-center').height() - 18);
        layout2NorthH = $("#layout2 .ui-layout-north").height();
    }
    //加载行政区划树
    function GetTree() {
        var item = {
            height: $(window).height() - 52,
            isAllExpand: false,
            url: "../../Map/GetTreeJsonForMap",
            onnodeclick: function (item) {
                AreaCode = item.id;
                var level = item.value.split(',')[1];
                if (level == -1) {
                    PROVINCE = "";
                    CITY = "";
                    COUNTY = "";
                } else if (level == 1) {
                    PROVINCE = item.id;
                    CITY = "";
                    COUNTY = "";
                } else if (level == 2) {
                    PROVINCE = item.id.substring(0, 2) + "0000";
                    CITY = item.id;
                    COUNTY = "";
                } else if (level == 3) {
                    PROVINCE = item.id.substring(0, 2) + "0000";
                    CITY = item.id.substring(0, 4) + "00";
                    COUNTY = item.id;
                }
                var data = [{
                    latitude: item.value.split(',')[3],
                    longitude: item.value.split(',')[2],
                    popupHtml: ""
                }]
                $('#btn_Search').trigger("click");
                mapCtlExt.addLocation(data, false, level);
            },
        };
        //初始化
        $("#itemTree").treeview(item);
    };
    var mapCtlExt = null;
    function GetMapData() {
        mapCtlExt = $("#mapControl").mapCtl(
            cfGetMapData({
                markerDataId: "keyID",
                getMarkerData: getMarkerData
            })
            );
        usercode = "@Infoearth.Application.Code.OperatorProvider.Provider.Current().XZQHCode";
        GetAreaGeometry(usercode);
    };
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var queryJson = $("#filter-form").getWebControls();
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 551,
            //url: "../../JXGeoManage/TBL_ZLGC_BASEINFO/GetPageListJson",
            url: "../../api/TBL_ZLGC/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: 'GUID', name: 'GUID', index: 'GUID', width: 100, align: 'left', sortable: true, hidden: true },
                { label: '治理工程名称', name: 'ZLGCNAME', index: 'ZLGCNAME', width: 250, align: 'left', sortable: true },
                { label: '灾害点名称', name: 'DISASTERNAME', index: 'DISASTERNAME', width: 250, align: 'left', sortable: true },
                { label: '灾害点编号', name: 'UNIFIEDCODE', index: 'UNIFIEDCODE', width: 200, align: 'left', sortable: true, hidden: true },
                { label: '灾害点类型', name: 'DISASTERTYPE', index: 'DISASTERTYPE', width: 100, align: 'left', sortable: true },
                { label: '项目阶段', name: 'ZLSTATE', index: 'ZLSTATE', width: 100, align: 'left', sortable: true },
                { label: '负责单位', name: 'XMFZDW', index: 'XMFZDW', width: 200, align: 'left', sortable: true },
                { label: '批复资金(万元)', name: 'XMPFZJ', index: 'XMPFZJ', width: 100, align: 'left', sortable: true },
                {
                    label: '立项时间', name: 'XMJLXSJ', index: 'XMJLXSJ', width: 100, align: 'left', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue) {
                            cellvalue = cellvalue.replace("T00:00:00", " ");
                        } else {
                            cellvalue = "";
                        }
                        return cellvalue;
                    }
                },
                { label: '工程地理位置', name: 'LOCATION', index: 'LOCATION', width: 300, align: 'left', sortable: true },
                { label: '经度', name: 'LONGITUDE', index: 'LONGITUDE', width: 100, align: 'left', sortable: true, hidden: true, },
                { label: '纬度', name: 'LATITUDE', index: 'LATITUDE', width: 100, align: 'left', sortable: true, hidden: true, },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'GUID',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function (rowId, status) {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
                var dt = $gridTable.jqGrid("getRowData", rowId);
                var data = [];
                var longitude = 0, latitude = 0;
                if (dt.LONGITUDE) {
                    longitude = parseFloat(dt.LONGITUDE);
                }
                if (dt.LATITUDE) {
                    latitude = parseFloat(dt.LATITUDE);
                }
                data.push({ longitude: longitude, latitude: latitude });
                if (isMarkerClick) {
                    isMarkerClick = false;
                } else {
                    mapCtlExt.addLocation(data, true);
                }
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //获取点击Marker时对应的数据
    var isMarkerClick = false;
    function getMarkerData(UNIFIEDCODE) {
        isMarkerClick = true;
        var datas = $('#gridTable').jqGrid("getRowData");
        var count = 0;
        $.each(datas, function (i, e) {
            if (e.UNIFIEDCODE.trim().indexOf(UNIFIEDCODE) > -1) {
                count = 1;
                $('#gridTable').setSelection(i + 1);
                $('#gridTable tr').eq(i + 1).focus();
            }
        });
    };
    //加载地图marker
    function BindMapMarker() {
        var queryJson = $("#DZHJManage").getWebControls();
        queryJson["PROVINCE"] = PROVINCE;
        queryJson["CITY"] = CITY;
        queryJson["COUNTY"] = COUNTY;
        queryJson["zhd"] = "zhd";
        $.ajax({
            url: contentPath + "/api/TBL_ZLGC/GetPageListJson",
            beforeSend: function (a) {
                if (authToken != null)
                    a.setRequestHeader("Authorization", authToken);
            },
            datatype: 'json',
            data: { queryJson: JSON.stringify(queryJson) },
            async: true,
            cache: false,
            type: "GET",
            success: function (dataList) {
                var data = dataList.rows;
                var returnValue = [];
                var type = [];
                for (var i = 0; i < data.length; i++) {
                    //详情页面
                    var divhtml = '<div style="font-weight: bold;"></div>';
                    divhtml += '<div style="font-weight: bold;margin-bottom:5px;"><span style="margin-left:10px;">灾害点编号：</span><span>' + data[i].UNIFIEDCODE + '</span></div>';
                    divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">灾害点名称：</span><span>' + data[i].DISASTERNAME + '</span></div>';
                    divhtml += '<div><input type="hidden" id="keyID" value="' + data[i].UNIFIEDCODE + '"/></div>';
                    divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">灾害点类型：</span><span>' + data[i].DISASTERTYPE + '</span></div>';
                    divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">地 理 位 置：</span><span>' + data[i].LOCATION + '</span></div>';
                    //预留 divhtml += '<span style="margin-right:20px; float:right; cursor: pointer;"><a onclick="ViewDetail(\'' + data[i].UNIFIEDCODE + '\')" href="#" class="link-detail">详细信息</a></span>';

                    var longitude, latitude;
                    if (data[i].LONGITUDE != '' && data[i].LONGITUDE != null && data[i].LONGITUDE != undefined) {
                        longitude = parseFloat(data[i].LONGITUDE);
                    }
                    if (data[i].LATITUDE != '' && data[i].LATITUDE != null && data[i].LATITUDE != undefined) {
                        latitude = parseFloat(data[i].LATITUDE);
                    }
                    returnValue.push({ id: "all", url: contentPath + "/Content/images/" + data[i].DISASTERTYPE + "-16.png", location: [longitude, latitude], popupHtml: divhtml });

                }
                mapCtlExt.addMarker(returnValue);
            }, error: function (e) {
            },
            cache: false
        });
    };

    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加治理工程信息表',
            url: '/JXGeoManage/TBL_ZLGC_BASEINFO/TBL_ZLGC_BASICAMANAGE',
            width: '1300px',
            height: '700px',
            callBack: function (iframeId) {
                getInfoTop().frames[iframeId].AcceptClick();
                BindMapMarker();
            }
        });
    }

    //编辑
    function btn_edit() {
        var keyValue = $("#gridTable").jqGridRowValue('GUID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'FormZLGCLIST',
                title: '编辑治理工程信息表',
                url: '/JXGeoManage/TBL_ZLGC_BASEINFO/TBL_ZLGC_BASICAMANAGE?&keyValue=' + keyValue,
                width: '1300px',
                height: '700px',
                callBack: function (iframeId) {
                    getInfoTop().frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $("#gridTable").jqGridRowValue('GUID');
        if (keyValue) {
            //dialogMsg('此操作将删除该项目下关联的各阶段信息，是否确认删除？');
            $.RemoveForm1({
                url: '../../api/TBL_ZLGC/RemoveForm',
                param: { "": keyValue },
                authToken: authToken,
                success: function (data) {
                    //alert(data.message);
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的治理工程信息表！', 0);
        }
    }
    //查询表格函数
    function SearchEvent() {
        var queryJson = $("#filter-form").getWebControls();
        queryJson["PROVINCE"] = PROVINCE;
        queryJson["CITY"] = CITY;
        queryJson["COUNTY"] = COUNTY;
        $("#gridTable").jqGrid('setGridParam', {
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            postData: { queryJson: JSON.stringify(queryJson) },
            url: "../../api/TBL_ZLGC/GetPageListJson",
            page: 1
        }).trigger('reloadGrid');
        BindMapMarker();
    }

    function ColDataGrid() {
        var centerHeight = $("#layout2").height();
        var layout2 = $('#layout2').layout();
        if ($("#lr-colgrid i").hasClass("fa-chevron-down")) {
            var northH = centerHeight - 45;
            layout2.sizePane("north", northH);
            $("#lr-colgrid i").removeClass("fa-chevron-down");
            $("#lr-colgrid i").addClass("fa-chevron-up");
            if ($("#lr-colmap i").hasClass("fa-chevron-down")) {
                $("#lr-colmap i").removeClass("fa-chevron-down");
                $("#lr-colmap i").addClass("fa-chevron-up");
            }
        }
        else {
            layout2.sizePane("north", layout2NorthH);
            $("#lr-colgrid i").removeClass("fa-chevron-up");
            $("#lr-colgrid i").addClass("fa-chevron-down");
        }
        mapCtlExt.updateSize();
    }
    function ColMapDiv() {
        var layout2 = $('#layout2').layout();
        if ($("#lr-colmap i").hasClass("fa-chevron-up")) {
            layout2.sizePane("north", 1);
            $("#lr-colmap i").removeClass("fa-chevron-up");
            $("#lr-colmap i").addClass("fa-chevron-down");
            if ($("#lr-colgrid i").hasClass("fa-chevron-up")) {
                $("#lr-colgrid i").removeClass("fa-chevron-up");
                $("#lr-colgrid i").addClass("fa-chevron-down");
            }
        }
        else {
            layout2.sizePane("north", layout2NorthH);
            $("#lr-colmap i").removeClass("fa-chevron-down");
            $("#lr-colmap i").addClass("fa-chevron-up");
            if (mapCtlExt != null) {
                mapCtlExt.setHeight($("#mapControl").parent().height() - 32 - 4);
            }
        }
        mapCtlExt.updateSize();
    }
</script>
}
