@{
    ViewBag.Title = "excel导出配置";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        //绑定功能
        $("#F_ModuleId").comboBoxTree({
            url: "../../AuthorizeManage/Module/GetTreeJson",
            description: "==请选择==",
            maxHeight: "160px",
            allowSearch: true,
            click: function (item) {
                if (item.F_Target == "iframe") {
                    $(".tip_container").remove();
                    //绑定按钮
                    $("#F_ModuleBtnId").comboBox({
                        url: "../../AuthorizeManage/ModuleButton/GetTreeListJson?moduleId=" + item.id,
                        id: "F_ModuleButtonId",
                        text: "F_FullName",
                        maxHeight: "160px",
                        allowSearch: true,
                        dataName: "rows"
                    });
                }
                else {
                    learun.dialogTop({ msg: "请选择功能页面", type: "error" });
                    return "false";
                }
            }
        });
        //绑定按钮
        $("#F_ModuleBtnId").comboBox({});
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../SystemManage/ExcelExportSet/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                try {
                    getInfoTop().learun.currentIframe().$("#gridTable").trigger("reloadGrid");
                } catch (e) {
                    window.parent.$("#gridTable").trigger("reloadGrid");
                }
            }
        })
    }
</script>
<div style="margin-left: 20px; margin-top: 20px; margin-right: 20px;">
    <table class="form">
        <tr>
            <th class="formTitle" style="width:62px;">绑定功能<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="F_ModuleId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="width:62px;">绑定按钮<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="F_ModuleBtnId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <th class="formTitle">导出名称<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="F_Name" type="text" class="form-control"  isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">JqGridID<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="F_GridId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
       
</table>
</div>

