@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    body {
        margin: 0;
    }

    .spans {
        padding: 0 10px;
        width: 9%;
        text-align: center;
        height: 28px;
        line-height: 28px;
        min-width: 100px;
    }
</style>
<div class="titlePanel">
    <div class="panel-Title" style="background-color: rgba(236, 247, 255, 1);color:#000;height:35px"><i class="fa fa-bars"></i>查询条件</div>
    <div class="title-search" style="width: 100%;color:#000;display: flex; align-items: center;flex-wrap:wrap;padding:0">
        <span class="spans">灾害点名称:</span><input id="DISASTERNAME" type="text" class="form-control" placeholder="请输入灾害点名称" style="width: 16%" />
        <span class="spans">监测类型:</span><div id="MONITORPOINTCODE" type="select" class="ui-select" placeholder="请选择" style="width: 16%"></div>
        <span class="spans">监测部位:</span><input id="MONITORPOINTPOSITION" type="text" class="form-control" placeholder="请输入监测部位" style="width: 16%" />
        <a id="btn_Search" class="btn btn-primary" style="margin-bottom:0;margin-left:30px"><i class="fa fa-search"></i> 查询</a>
        <a id="btn_Reset" class="btn btn-primary" style="margin-bottom:0;margin-left:30px;background:gray;border-color:gray;cursor: pointer;"><i class="fa fa-search"></i> 重置</a>&nbsp;
    </div>
    <div style="background-color: rgba(236, 247, 255, 1);width:100%;height:35px;color:#000;display:flex;align-items: center;">
        <span style="flex:1;font-weight:700;padding-left:9px;height:35px;line-height:35px">数据列表</span>
        <div class="btn-group" style="margin-right:30px">
            <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>

@section Scripts{
<script>
    var authToken = getAuthorizationToken();
    $(function () {
        InitialPage();
        initControl();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 194);
            }, 200);
            e.stopPropagation();
        });
        $("#MONITORPOINTCODE").ComboBox({
            id: "label",
            text: "value",
            description: "请选择",
            height: "170px",
            data: [
                { label: "DG", value: "地鼓" },
                { label: "DL", value: "地裂" },
                { label: "QL", value: "墙裂" },
                { label: "JS", value: "井水" },
                { label: "QS", value: "泉水" },
            ]
        });
    }
    //初始化控件
    function initControl() {
        $("#btn_Search").click(SearchEvent);
        $("#btn_Reset").click(ClearEvent);
    }
    function SearchEvent() {
        var queryJson = $(".title-search").getWebControls();
        $("#gridTable").jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) },
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            url: "../../api/TBL_QCQF_LAYOUTPOINTINFOApi/GetPageListJson",
            page: 1
        }).trigger('reloadGrid');
    }
    function ClearEvent() {
        $(".title-search").find("input[type='text']").val("");
        $("#MONITORPOINTCODE").ComboBoxSetValue(" ");
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = $(".title-search").getWebControls();
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 194,
            url: "../../api/TBL_QCQF_LAYOUTPOINTINFOApi/GetPageListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            loadBeforeSend: function (a) {
                a.setRequestHeader("Authorization", authToken);
            },
            colModel: [
                { label: 'GUID', name: 'GUID', index: 'GUID', width: 100, align: 'left', sortable: true, hidden: true },
                { label: '灾害点名称', name: 'DISASTERNAME', index: 'DISASTERNAME', width: 150, align: 'left', sortable: true },
                { label: '地理位置', name: 'LOCATION', index: 'LOCATION', width: 350, align: 'left', sortable: true },
                { label: '监测部位', name: 'MONITORPOINTPOSITION', index: 'MONITORPOINTPOSITION', width: 150, align: 'left', sortable: true, hidden: true },
                { label: '监测类型编号', name: 'MONITORPOINTCODE', index: 'MONITORPOINTCODE', width: 150, align: 'left', sortable: true },//（DG:地鼓;DL:地裂;QL:墙裂;JS:井水;QS:泉水;+两位顺序号）
                {
                 label: '监测类型', name: 'MONITORPOINTCODE', index: 'MONITORPOINTCODE', width: 120, align: 'left', sortable: true
                 , formatter: function (cellvalue, options, rowObject) {
                     //防止空值substring报错
                     if (cellvalue != null || cellvalue != undefined) {
                         switch (cellvalue.substring(0, 2)) {
                             case "DG":
                                 return "地鼓";
                             case "DL":
                                 return "地裂";
                             case "QL":
                                 return "墙裂";
                             case "JS":
                                 return "井水";
                             case "QS":
                                 return "泉水";
                             default:
                                 return "";
                         }
                     } else {
                         return "";
                     }
                 }
                },
                {
                    label: '详情', name: 'XQ', index: 'XQ', width: 100, align: 'left', sortable: true, 
                    formatter: function (cellvalue, options, rowObject) {
                        return '<a onclick="openXQ(\'' + rowObject.GUID + '\')" style=\"color: #378ece;cursor: pointer;font-size:14px;display: inline-block;height:100%;padding:0 5px\">详情</a>';
                    }
                },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'GUID',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加群测群防监测点信息表',
            url: '/JXGeoManage/TBL_QCQF_LAYOUTPOINTINFO/TBL_QCQF_LAYOUTPOINTINFOForm',
            width: '1000px',
            height: '600px',
            callBack: function (iframeId) {
                getInfoTop().frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $("#gridTable").jqGridRowValue('GUID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑群测群防监测点信息表',
                url: '/JXGeoManage/TBL_QCQF_LAYOUTPOINTINFO/TBL_QCQF_LAYOUTPOINTINFOForm?keyValue=' + keyValue,
                width: '1000px',
                height: '600px',
                callBack: function (iframeId) {
                    getInfoTop().frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = $("#gridTable").jqGridRowValue('GUID');
        if (KeyValue) {
            //删除关联表信息
            $.ajax({
                url: '../../api/TBL_QCQF_POINTOBSERVATIONApi/RemoveFormByUNIFIEDCODE',
                type: "POST",
                async: false,
                data: { KeyValue: KeyValue },
                beforeSend: function (a) {
                    a.setRequestHeader("Authorization", authToken);
                },
                success: function (data) {
                    $.RemoveForm({
                        url: '../../api/TBL_QCQF_LAYOUTPOINTINFOApi/RemoveForm',
                        param: { KeyValue: KeyValue },
                        authToken: authToken,
                        success: function (data) {
                            $('#gridTable').trigger('reloadGrid');
                        }
                    })
                }
            })
        } else {
            dialogMsg('请选择需要删除的群测群防监测点信息表！', 0);
        }
    }
    //详情
    function openXQ(keyValue) {
        dialogOpen({
            id: 'Form',
            title: '监测点详情',
            url: '/JXGeoManage/TBL_QCQF_LAYOUTPOINTINFO/JCDXQ?keyValue=' + keyValue,
            width: '1000px',
            height: '600px',
            callBack: function (iframeId) {
                getInfoTop().frames[iframeId].AcceptClick();
            }
        });
    }
</script>
}
