@*
    * 版 本 LearunADMS V6.1.1.7
    * Copyright 2011-2016 Learun, Inc.
    * LR-0101
*@
@{
    ViewBag.Title = "模板列表";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .cover-img {
        padding-top: 25px;
    }

        .cover-img img {
            height: 120px;
        }
</style>
<div id="pageayout" class="border" style="background: #fff; overflow: auto;">
    <div style="margin: 20px;">
        <div class="cover-box">
            <div class="cover-img">
                @*<i class="fa fa-television" style="font-size: 130px; color: #666666;margin-top:20px;"></i>*@
                <img src="~/Content/images/code/singletable.png" />
            </div>
            <div class="cover-info">
                <h4>单表开发模板（A）</h4>
                <small>单表开发功能。</small>
            </div>
            <div class="cover-button">
                <a class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;效果</a>
                <a class="btn btn-default" onclick="$.indexJs.singletable.btnBuilder()"><i class="fa fa-bug"></i>&nbsp;开发</a>
            </div>
        </div>
        <div class="cover-box">
            <div class="cover-img">
                @*<i class="fa fa-share-alt" style="font-size: 130px; color: #666666;margin-top:20px;"></i>*@
                <img src="~/Content/images/code/multitable.png" />
            </div>
            <div class="cover-info">
                <h4>主从表开发模板（B）</h4>
                <small>类似订单、有表头信息、有明细信息</small>
            </div>
            <div class="cover-button">
                <a class="btn btn-default" onclick="$.indexJs.multitable.btnPreview()"><i class="fa fa-eye"></i>&nbsp;效果</a>
                <a class="btn btn-default" onclick="$.indexJs.multitable.btnBuilder()"><i class="fa fa-bug"></i>&nbsp;开发</a>
            </div>
        </div>
        <div class="cover-box">
            <div class="cover-img">
                @*<i class="fa fa-gears" style="font-size: 130px; color: #666666;margin-top:20px;"></i>*@
                <img src="~/Content/images/code/serviceCode.png" />
            </div>
            <div class="cover-info">
                <h4>快速生成服务类</h4>
                <small>根据表生成实体层,实体映射,服务层,服务接口层,业务层</small>
            </div>
            <div class="cover-button">
                <a class="btn btn-default" onclick="$.indexJs.serviceCode.btnBuilder()"><i class="fa fa-bug"></i>&nbsp;开发</a>
            </div>
        </div>
        <div class="cover-box">
            <div class="cover-img">
                <img src="~/Content/images/code/business.png" />
            </div>
            <div class="cover-info">
                <h4>地图查询开发模板</h4>
                <small>页面有地图和行政区划联动列表查询,并带有表单增删改功能</small>
            </div>
            <div class="cover-button">
                <a class="btn btn-default" onclick="$.indexJs.businessCode.btnBuilder()"><i class="fa fa-bug"></i>&nbsp;开发</a>
            </div>
        </div>
    </div>
    <div style="margin: 20px;clear:both;">
        <div class="cover-box">
            <div class="cover-img">
                <img src="~/Content/images/code/business.png" />
            </div>
            <div class="cover-info">
                <h4>查询开发模板</h4>
                <small>有地图不带行政区划树</small>
            </div>
            <div class="cover-button">
                <a class="btn btn-default" onclick="$.indexJs.businessCodeWithMap.btnBuilder()"><i class="fa fa-bug"></i>&nbsp;开发</a>
            </div>
        </div>
        <div class="cover-box">
            <div class="cover-img">
                <img src="~/Content/images/code/business.png" />
            </div>
            <div class="cover-info">
                <h4>查询开发模板</h4>
                <small>自定义查询,带地图(待开发)</small>
            </div>
            <div class="cover-button">
                <a class="btn btn-default" onclick="$.indexJs.businessCodeQuery.btnBuilder()"><i class="fa fa-bug"></i>&nbsp;开发</a>
            </div>
        </div>

        <div class="cover-box">
            <div class="cover-img">
                @*<i class="fa fa-gears" style="font-size: 130px; color: #666666;margin-top:20px;"></i>*@
                <img src="~/Content/images/code/serviceCode.png" />
            </div>
            <div class="cover-info">
                <h4>快速生成服务类(限视图)</h4>
                <small>根据表生成实体层,实体映射,服务层,服务接口层,业务层</small>
            </div>
            <div class="cover-button">
                <a class="btn btn-default" onclick="$.indexJs.serviceCodeForView.btnBuilder()"><i class="fa fa-bug"></i>&nbsp;开发</a>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($) {
        "use strict";

        $.indexJs = {
            resize: function () {
                $('#pageayout').height($(window).height() - 20);
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        $('#pageayout').height($(window).height() - 20);
                    }, 200);
                    e.stopPropagation();
                });
            },
            singletable: {
                btnBuilder: function () {//在线开发（单表）
                    dialogOpen({
                        id: "Form",
                        title: '在线代码生成器 并自动创建代码(单表)',
                        url: '/GeneratorManage/SingleTable/CodeBuilder',
                        width: "1100px",
                        height: "700px",
                        btn: null
                    });
                }
            },
            multitable: {
                btnBuilder: function () {//在线开发（多表）
                    dialogOpen({
                        id: "Form",
                        title: '在线代码生成器 并自动创建代码(主从表)',
                        url: '/GeneratorManage/MultiTable/CodeBuilder',
                        width: "1100px",
                        height: "700px",
                        btn: null
                    });
                },
                btnPreview: function () {
                    getInfoTop().tablist.newTab({ id: 'e9244079-cc2f-4dcb-ad85-fab83bb89dd8', title: '主从表演示', closed: true, icon: "fa fa-diamond", url: getInfoTop().contentPath + '/DemoManage/Client_Order/Client_OrderIndex' });
                }
            },
            serviceCode: {
                btnBuilder: function () {
                    dialogOpen({
                        id: "Form",
                        title: '在线代码生成器 并自动创建代码(后端服务类生成)',
                        url: '/GeneratorManage/ServiceCode/CodeBuilder',
                        width: "1100px",
                        height: "700px",
                        btn: null
                    });
                }
            },
            serviceCodeForView: {
                btnBuilder: function () {
                    dialogOpen({
                        id: "Form",
                        title: '在线代码生成器 并自动创建代码(后端服务类生成)',
                        url: '/GeneratorManage/ServiceCodeForView/CodeBuilder',
                        width: "1100px",
                        height: "700px",
                        btn: null
                    });
                }
            },
            businessCode: {
                btnBuilder: function () {
                    dialogOpen({
                        id: "Form",
                        title: '在线代码生成器 并自动创建代码(业务单表)',
                        url: '/GeneratorManage/BusinessSingleTable/CodeBuilder',
                        width: "1100px",
                        height: "700px",
                        btn: null
                    });
                }
            },
            businessCodeWithMap: {
                btnBuilder: function () {
                    dialogOpen({
                        id: "Form",
                        title: '在线代码生成器 并自动创建代码(业务单表)',
                        url: '/GeneratorManage/BusinessSingleTableWithMap/CodeBuilder',
                        width: "1100px",
                        height: "700px",
                        btn: null
                    });
                }
            },
            businessCodeQuery: {
                btnBuilder: function () {
                    dialogOpen({
                        id: "Form",
                        title: '在线代码生成器 并自动创建代码(业务单表)',
                        url: '/GeneratorManage/BusinessSingleTableQuery/CodeBuilder',
                        width: "1100px",
                        height: "700px",
                        btn: null
                    });
                }
            },
        }
        $(function () {
            $.indexJs.resize();
        })
    })(window.jQuery);
</script>
