@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div>
    <table class="form">
        <tr>
            <td class="formTitle"><font>*</font>项目名称</td>
            <td class="formValue">
                <input id="PROJECTNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle"><font>*</font>项目编号</td>
            <td class="formValue">
                <input id="PROJECTCODE" type="text" class="form-control"  isvalid="yes" checkexpession="NotNull"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle"><font>*</font>项目类型</td>
            <td class="formValue">
                <div id="PROJECTTYPE" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr style="display:none">
            <td class="formTitle">创建时间</td>
            <td class="formValue">
                <input id="TIMECREATED" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr style="display:none">
            <td class="formTitle">创建人</td>
            <td class="formValue">
                <input id="USERCREATED" type="text" class="form-control" />
            </td>
        </tr>
        <tr style="display:none">
            <td class="formTitle">修改时间</td>
            <td class="formValue">
                <input id="TIMEMODIFIED" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr style="display:none">
            <td class="formTitle">修改人</td>
            <td class="formValue">
                <input id="USERMODIFIED" type="text" class="form-control" />
            </td>
        </tr>
    </table>
</div>

@section Scripts{
<script>
    var keyValue = request('keyValue');
    var authToken = getAuthorizationToken();
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        $("#PROJECTTYPE").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson?EnCode=ProjectType",
            id: "value",
            text: "text",
            height: '200px'
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../api/JYGC_PROJECTBASEINFOApi/GetFormJson",
                param: { keyValue: keyValue },
                authToken: authToken,
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            });
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../api/JYGC_PROJECTBASEINFOApi/SaveForm?keyValue=" + keyValue,
            param: postData,
            authToken: authToken,
            loading: "正在保存数据...",
            success: function () {
                try {
                    getInfoTop().learun.getIframe("ProjectForm").$('#gridTable').trigger('reloadGrid');
                    getInfoTop().learun.currentIframe().$('#gridTable').trigger('reloadGrid');
                    window.parent.$('#gridTable').trigger('reloadGrid');
                } catch (e) {
                    window.parent.$('#gridTable').trigger('reloadGrid');
                }
            }
        })
    }
</script>
}
