@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<style>
    .Ndispplay {
        display: none;
    }

    .uiLTE {
        margin: 0 0;
    }

    #mainContent {
        background: #fff
    }

    .formTitle {
        width: 110px !important;
        background: #ebebeb;
    }

    .haszard {
        background: #C3C3C3;
    }

    .form td {
        border: 1px solid #d6d6d6;
        text-align: center !important;
    }

        .form td input {
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .form td textarea {
            border-top: none;
            border-left: none;
            border-right: none;
        }

    .form-control:disabled {
        background: #fff;
    }

    .formValue {
        background: #fff;
    }

    .ui-select .ui-select-text {
        border: 0px;
    }

    .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .readonly {
        background: #f1efef !important
    }

    .spans {
        padding: 0 10px;
        width: 9%;
        text-align: center;
        height: 28px;
        line-height: 28px;
        min-width: 100px;
    }

    #DEVICETYPECODE, #MONITORPOINTCODE_DEVICE {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<div style="width: 100%; height: 100%; overflow: auto" id="Worktable">
    <table class="form" id="HZAR" style="margin-top: 5px">
        <tr>
            <td class="formTitle">省编号</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="PROVINCE" class="form-control" disabled="disabled" />
            </td>
            <td class="formTitle">野外编号</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="OUTDOORCODE" class="form-control" disabled="disabled" />
            </td>
            <td class="formTitle">灾害位置</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="LOCATION" class="form-control" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">类型及规模</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="TYPEANDSIZE" class="form-control" />
            </td>
            <td class="formTitle">诱发因素</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="TRIGGERFACTORS" class="form-control" disabled="disabled" />
            </td>
            <td class="formTitle">威胁对象</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="POTENTIALHAZARDS" class="form-control" disabled="disabled" />
            </td>
        </tr>
    </table>
    <div class="panel-Title" style="background-color: rgba(236, 247, 255, 1); color: #000; height: 30px; border-radius: 5px; margin: 5px 0"><i class="fa fa-bars"></i>监测预报</div>
    <table class="form" id="WORKUNDERSTANDCARD">
        <tr>
            <td class="formTitle">监测负责人</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="MONITORHEADER" class="form-control" readonly="readonly" placeholder="点击选择" />
            </td>
            <td class="formTitle">负责人联系电话</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="MONITORHEADERTEL" class="form-control" readonly="readonly" />
            </td>
            <td class="formTitle">主要迹象</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="MONITORMAJORSIGNS" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">主要手段和方法</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="MONITORMEANSMETHODS" class="form-control" />
            </td>
            <td class="formTitle">临灾预报的判据</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="STATEPREDICTION" class="form-control" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="panel-Title" style="background-color: rgba(236, 247, 255, 1); color: #000; height: 30px; border-radius: 5px; text-align: left"><i class="fa fa-bars"></i>应急避险撤离</div>
            </td>
        </tr>
        @*
        <tr>
            <td class="formTitle">预定避灾地点</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="BOOKESCAPINGLOCATION" class="form-control" />
            </td>
            <td class="formTitle">预定疏散路线</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="EVACUATIONROUTES" class="form-control" />
            </td>
            <td class="formTitle">预定报警信号</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="ALARMSIGNAL" class="form-control" />
            </td>
        </tr>*@
        <tr>
            <td class="formTitle">疏散命令发布人</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="EVACUATIONCOMMANDPUBLISHER" class="form-control"/>
                @*<input type="text" id="EVACUATIONCOMMANDPUBLISHER" class="form-control" readonly="readonly" placeholder="点击选择" />*@
            </td>
            <td class="formTitle">疏散值班电话</td>
            <td class="formValue" style="background: transparent">
                <input type="text" id="EVACUATIONDUTYPHONE" class="form-control"  />
            </td>
            <td class="formTitle">抢排险单位负责人</td>
            <td class="formValue">
                <input id="RISKUNITANDHEADER" type="text" class="form-control"  />
                @*<input id="RISKUNITANDHEADER" type="text" class="form-control" readonly="readonly" placeholder="点击选择" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">抢排险单位</td>
            <td class="formValue">
                <input id="RISKUNIT" type="text" class="form-control" />
            </td>
            <td class="formTitle">抢排线值班电话</td>
            <td class="formValue">
                <input id="RISKDUTYPHONE" type="text" class="form-control"  />
            </td>
            <td class="formTitle">治安保卫单位负责人</td>
            <td class="formValue">
                <input id="PUBLICSECURITYUNITANDHEADER" type="text" class="form-control"  />
                @*<input id="PUBLICSECURITYUNITANDHEADER" type="text" class="form-control" readonly="readonly" placeholder="点击选择" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">治安保卫单位</td>
            <td class="formValue">
                <input id="PUBLICSECURITYUNIT" type="text" class="form-control" />
            </td>
            <td class="formTitle">治安保卫值班电话</td>
            <td class="formValue">
                <input id="PUBLICSECURITYDUTYPHONE" type="text" class="form-control" />
            </td>
            <td class="formTitle">医疗救护单位负责人</td>
            <td class="formValue">
                <input id="MEDICALCAREUNITHEADER" type="text" class="form-control"  />
                @*<input id="MEDICALCAREUNITHEADER" type="text" class="form-control" readonly="readonly" placeholder="点击选择" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">医疗救护单位</td>
            <td class="formValue">
                <input id="MEDICALCAREUNIT" type="text" class="form-control"/>
            </td>
            <td class="formTitle">医疗救护值班电话</td>
            <td class="formValue">
                <input id="MEDICALCAREDUTYPHONE" type="text" class="form-control" />
            </td>
            <td class="formTitle">本卡发放单位</td>
            <td class="formValue">
                <input id="CARDRELEASUNIT" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">发放单位联系电话</td>
            <td class="formValue">
                <input id="CARDRELEASUNITTEL" type="text" class="form-control" />
            </td>
            <td class="formTitle">发放日期</td>
            <td class="formValue">
                <input id="RELEASEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">持卡单位或个人</td>
            <td class="formValue">
                <input id="CARDUNITSINDIVIDUALS" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">持卡日期</td>
            <td class="formValue">
                <input id="DATECARD" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">持卡单位或个人联系电话</td>
            <td class="formValue" colspan="3">
                <input id="CARDUNITSINDIVIDUALSTEL" type="text" class="form-control" />
            </td>
        </tr>
        <tr style="display:none">
            <td class="formValue" colspan="3">
                <input id="UNIFIEDCODE" type="text" class="form-control" />
                <input id="GUID"/>
            </td>
        </tr>
    </table>
    <div class="panel-Title" style="background-color: rgba(236, 247, 255, 1); color: #000; height: 30px; border-radius: 5px"><i class="fa fa-bars"></i>附件</div>
    @*<div style="width: 100%;background:#fff" id="QCQFLmedia2"> </div>*@
    <div   style="height: 100%; width: 100%;">
        <iframe  class="LRADMS_iframe"  id="QCQFLmedia2" frameborder="0" src="" style="border: none; width: 100%; height: 100%;"></iframe>
    </div>
</div>
@section Scripts{
    <script>
        var UNIFIEDCODE = request('UNIFIEDCODE');
        var authToken = getAuthorizationToken();
        var readonaly = request('readonaly');
        var NewIfrem = request('NewIfrem');
        var details = request('details');
        $(function () {
            if (NewIfrem == "") {
                $("input").attr("disabled", "disabled");
            }
            $("#UNIFIEDCODE").val(UNIFIEDCODE);
            initControl(UNIFIEDCODE);
            $("#MONITORHEADER").click(function () {
                if (NewIfrem == "") {
                    return
                }
                dialogOpen({
                    id: 'ContactPersonForm',
                    title: '选择监测负责人',
                    url: '/JXGeoManage/TBL_QCQF_ADMINISTRATIVE/TBL_QCQF_ADMINISTRATIVESearch',
                    width: '800px',
                    height: "500px",
                    callBack: function (iframeId) {
                        var data = getInfoTop().frames[iframeId].AcceptClick();
                        $("#MONITORHEADER").val(data.NAME);
                        $("#MONITORHEADERTEL").val(data.TELPHONE);
                    }
                });
            })
            if (readonaly == 01) {
                $(".form-control").attr("disabled", "disabled");
            }
        });
        //初始化控件
        function initControl(UNIFIEDCODES) {
            UNIFIEDCODE = UNIFIEDCODES;
            //获取表单
            if (UNIFIEDCODES) {
                $.SetForm({
                    url: "../../api/TBL_HAZARDBASICINFOApi/WORKUNDERSTANDSearch",
                    authToken: authToken,
                    param: { keyValue: UNIFIEDCODES },
                    success: function (data) {
                        $("#Worktable").SetWebControls(data);
                    }

                })
            }

            //获取灾害点基本信息
            if (UNIFIEDCODES) {
                $.SetForm({
                    url: "../../api/TBL_HAZARDBASICINFOApi/GetUNIFIEDCODEEntity",
                    authToken: authToken,
                    param: { UNIFIEDCODE: UNIFIEDCODES },
                    success: function (data) {
                        $("#HZAR").SetWebControls(data);
                    }

                })
            }
        }
    //保存表单;
    //function AcceptClick() {
    //    if (!$('.form').Validform()) {
    //        return false;
    //    }
    //    var postData = $("#Worktable").GetWebControls();
    //    $.SaveForm({
    //        url: "../../JXGeoManage/TBL_QCQF_WORKUNDERSTANDCARD/SaveForm?keyValue=" + UNIFIEDCODE,
    //        param: postData,
    //        loading: "正在保存数据...",
    //        success: function () {
    //            try {
    //                getInfoTop().learun.currentIframe().$('#gridTable').trigger('reloadGrid');
    //            } catch (e) {
    //                window.parent.$('#gridTable').trigger('reloadGrid');
    //            }
    //        }
    //    })
    //}
    </script>
}