@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i> 查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>★刷新</a>
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>★新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>★编辑</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>★删除</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>

@section Scripts{
<script>;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 108.5,
            url: "../../JXGeoManage/TBL_DEBRISFLOW/GetListJson",
            datatype: "json",
            colModel: [
     { label: '统一编号', name: 'UNIFIEDCODE', index: 'UNIFIEDCODE', width: 100, align: 'left', sortable: true },
     { label: 'CGH系统灾害点编码', name: 'CGHUNIFIEDCODE', index: 'CGHUNIFIEDCODE', width: 100, align: 'left', sortable: true },
     { label: '名称', name: 'DISASTERUNITNAME', index: 'DISASTERUNITNAME', width: 100, align: 'left', sortable: true },
     { label: '野外编号', name: 'OUTDOORCODE', index: 'OUTDOORCODE', width: 100, align: 'left', sortable: true },
     { label: '室内编号', name: 'INDOORCODE', index: 'INDOORCODE', width: 100, align: 'left', sortable: true },
     { label: '省', name: 'PROVINCE', index: 'PROVINCE', width: 100, align: 'left', sortable: true },
     { label: '市（县）', name: 'CITY', index: 'CITY', width: 100, align: 'left', sortable: true },
     { label: '乡镇', name: 'TOWN', index: 'TOWN', width: 100, align: 'left', sortable: true },
     { label: '地理位置（村）', name: 'LOCATION', index: 'LOCATION', width: 100, align: 'left', sortable: true },
     { label: '经度', name: 'LATITUDE', index: 'LATITUDE', width: 100, align: 'left', sortable: true },
     { label: '纬度', name: 'LONGITUDE', index: 'LONGITUDE', width: 100, align: 'left', sortable: true },
     { label: 'X坐标', name: 'X', index: 'X', width: 100, align: 'left', sortable: true },
     { label: 'Y坐标', name: 'Y', index: 'Y', width: 100, align: 'left', sortable: true },
     { label: '最大标高', name: 'ALTTOP', index: 'ALTTOP', width: 100, align: 'left', sortable: true },
     { label: 'Z坐标', name: 'Z', index: 'Z', width: 100, align: 'left', sortable: true },
     { label: '最小标高', name: 'ALTBOTOM', index: 'ALTBOTOM', width: 100, align: 'left', sortable: true },
     { label: '水系名称', name: 'WATERNAME', index: 'WATERNAME', width: 100, align: 'left', sortable: true },
     { label: '主河名称', name: 'MRIVERNAME', index: 'MRIVERNAME', width: 100, align: 'left', sortable: true },
     { label: '相对主河位置', name: 'MRIVERLOCATION', index: 'MRIVERLOCATION', width: 100, align: 'left', sortable: true },
     { label: '沟口至主河道距', name: 'MIZDISTOMRIVER', index: 'MIZDISTOMRIVER', width: 100, align: 'left', sortable: true },
     { label: '流动方向', name: 'FLOWDIRECTION', index: 'FLOWDIRECTION', width: 100, align: 'left', sortable: true },
     { label: '水动力类型', name: 'HYDRODYNAMICTYPE', index: 'HYDRODYNAMICTYPE', width: 100, align: 'left', sortable: true },
     { label: '沟口巨石A', name: 'MIZOGUCHIROCKA', index: 'MIZOGUCHIROCKA', width: 100, align: 'left', sortable: true },
     { label: '沟口巨石B', name: 'MIZOGUCHIROCKB', index: 'MIZOGUCHIROCKB', width: 100, align: 'left', sortable: true },
     { label: '沟口巨石C', name: 'MIZOGUCHIROCKC', index: 'MIZOGUCHIROCKC', width: 100, align: 'left', sortable: true },
     { label: '泥砂补给途径', name: 'SEDIMENTSUPPLYROUTE', index: 'SEDIMENTSUPPLYROUTE', width: 100, align: 'left', sortable: true },
     { label: '补给区位置', name: 'RECHARGEZONE', index: 'RECHARGEZONE', width: 100, align: 'left', sortable: true },
     { label: '年最大降雨', name: 'YEARMAXIMUMRAINFALL', index: 'YEARMAXIMUMRAINFALL', width: 100, align: 'left', sortable: true },
     { label: '年平均降雨', name: 'YEARAVERAGERAINFALL', index: 'YEARAVERAGERAINFALL', width: 100, align: 'left', sortable: true },
     { label: '日最大降雨', name: 'DAYMAXIMUMRAINFALL', index: 'DAYMAXIMUMRAINFALL', width: 100, align: 'left', sortable: true },
     { label: '日平均降雨', name: 'DAYAVERAGERAINFALL', index: 'DAYAVERAGERAINFALL', width: 100, align: 'left', sortable: true },
     { label: '时最大降雨', name: 'HOURMAXIMUMRAINFALL', index: 'HOURMAXIMUMRAINFALL', width: 100, align: 'left', sortable: true },
     { label: '时平均降雨', name: 'HOURAVERAGERAINFALL', index: 'HOURAVERAGERAINFALL', width: 100, align: 'left', sortable: true },
     { label: '十分钟最大降雨', name: 'MINUTES10MAXIMUMRAINFALL', index: 'MINUTES10MAXIMUMRAINFALL', width: 100, align: 'left', sortable: true },
     { label: '十分钟平均降雨', name: 'MINUTES10AVERAGERAINFALL', index: 'MINUTES10AVERAGERAINFALL', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地完整性', name: 'MIZSECTORLANDINTEGRITY', index: 'MIZSECTORLANDINTEGRITY', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地变幅', name: 'MIZSECTORLANDAMPLITUDE', index: 'MIZSECTORLANDAMPLITUDE', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地发展趋势', name: 'MIZSECTORLANDTRENDS', index: 'MIZSECTORLANDTRENDS', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地扇长', name: 'MIZSECTORLANDFANLONG', index: 'MIZSECTORLANDFANLONG', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地扇宽', name: 'MIZSECTORLANDFANKUAN', index: 'MIZSECTORLANDFANKUAN', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地扩散角', name: 'MIZSECTORLANDSPREADANGLE', index: 'MIZSECTORLANDSPREADANGLE', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地挤压大河', name: 'MIZSECTORLANDEXTRUSIONRIVER', index: 'MIZSECTORLANDEXTRUSIONRIVER', width: 100, align: 'left', sortable: true },
     { label: '地质构造', name: 'GEOLOGICALSTRUCTURE', index: 'GEOLOGICALSTRUCTURE', width: 100, align: 'left', sortable: true },
     { label: '地震烈度', name: 'EARTHQUAKEINTENSITY', index: 'EARTHQUAKEINTENSITY', width: 100, align: 'left', sortable: true },
     { label: '滑坡活动程度', name: 'SCALEACTIVITYDEGREE', index: 'SCALEACTIVITYDEGREE', width: 100, align: 'left', sortable: true },
     { label: '滑坡规模', name: 'SCALEIANDSLIDE', index: 'SCALEIANDSLIDE', width: 100, align: 'left', sortable: true },
     { label: '人工弃体活动程度', name: 'ARTIFICIALABDBODYACTDEGREE', index: 'ARTIFICIALABDBODYACTDEGREE', width: 100, align: 'left', sortable: true },
     { label: '人工弃体规模', name: 'ARTIFICIALABDBODYSCALE', index: 'ARTIFICIALABDBODYSCALE', width: 100, align: 'left', sortable: true },
     { label: '自然堆积活动程度', name: 'NATURALACCACTDEGREE', index: 'NATURALACCACTDEGREE', width: 100, align: 'left', sortable: true },
     { label: '自然堆积规模', name: 'NATURALACCSCALE', index: 'NATURALACCSCALE', width: 100, align: 'left', sortable: true },
     { label: '森林', name: 'FOREST', index: 'FOREST', width: 100, align: 'left', sortable: true },
     { label: '灌丛', name: 'SHRUB', index: 'SHRUB', width: 100, align: 'left', sortable: true },
     { label: '草地', name: 'LAWN', index: 'LAWN', width: 100, align: 'left', sortable: true },
     { label: '缓坡耕地', name: 'GENTSLOPEARALAND', index: 'GENTSLOPEARALAND', width: 100, align: 'left', sortable: true },
     { label: '荒地', name: 'WASTELAND', index: 'WASTELAND', width: 100, align: 'left', sortable: true },
     { label: '陡坡耕地', name: 'STEEPLAND', index: 'STEEPLAND', width: 100, align: 'left', sortable: true },
     { label: '建筑用地', name: 'BUILDINGLAND', index: 'BUILDINGLAND', width: 100, align: 'left', sortable: true },
     { label: '其它用地', name: 'OTHERSITES', index: 'OTHERSITES', width: 100, align: 'left', sortable: true },
     { label: '防治措施现状', name: 'CONTROLMEASTATUSQ', index: 'CONTROLMEASTATUSQ', width: 100, align: 'left', sortable: true },
     { label: '防治措施类型', name: 'CONTROMEASURETYPE', index: 'CONTROMEASURETYPE', width: 100, align: 'left', sortable: true },
     { label: '监测措施', name: 'MONITORMEASURE', index: 'MONITORMEASURE', width: 100, align: 'left', sortable: true },
     { label: '监测措施类型', name: 'MONITORMEASURETYPE', index: 'MONITORMEASURETYPE', width: 100, align: 'left', sortable: true },
     { label: '威胁危害对象', name: 'THREATENHARMOBJ', index: 'THREATENHARMOBJ', width: 100, align: 'left', sortable: true },
     { label: '威胁人口', name: 'THREATENPEOPLE', index: 'THREATENPEOPLE', width: 100, align: 'left', sortable: true },
     { label: '威胁财产', name: 'THREATENASSETS', index: 'THREATENASSETS', width: 100, align: 'left', sortable: true },
     { label: '险情等级', name: 'DANGERLEVEL', index: 'DANGERLEVEL', width: 100, align: 'left', sortable: true },
     { label: '灾害史发生时间1', name: 'DISHISTORYOCCURT1', index: 'DISHISTORYOCCURT1', width: 100, align: 'left', sortable: true },
     { label: '灾害史死亡人口1', name: 'DISHISTORYDEATHS1', index: 'DISHISTORYDEATHS1', width: 100, align: 'left', sortable: true },
     { label: '灾害史损失牲畜1', name: 'DISHISTORYLOSSLIVESTOCK1', index: 'DISHISTORYLOSSLIVESTOCK1', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁房屋1', name: 'DISHISTORYCOMPDESHOUSES1', index: 'DISHISTORYCOMPDESHOUSES1', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁房屋1', name: 'DISHISTORYSDESHOUSES1', index: 'DISHISTORYSDESHOUSES1', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁农田1', name: 'DISHISTORYCOMPDESFARMLAND1', index: 'DISHISTORYCOMPDESFARMLAND1', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁农田1', name: 'DISHISTORYSDESFARMLAND1', index: 'DISHISTORYSDESFARMLAND1', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏道路1', name: 'DISHISTORYDESROAD1', index: 'DISHISTORYDESROAD1', width: 100, align: 'left', sortable: true },
     { label: '灾害史直接损失1', name: 'DISHISTORYDIRECTLOSS1', index: 'DISHISTORYDIRECTLOSS1', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏桥梁1', name: 'DISHISTORYDESBRIDGE1', index: 'DISHISTORYDESBRIDGE1', width: 100, align: 'left', sortable: true },
     { label: '灾害史灾情等级1', name: 'DISHISTORYDISASTERDEGREES1', index: 'DISHISTORYDISASTERDEGREES1', width: 100, align: 'left', sortable: true },
     { label: '灾害史发生时间2', name: 'DISHISTORYOCCURT2', index: 'DISHISTORYOCCURT2', width: 100, align: 'left', sortable: true },
     { label: '灾害史死亡人口2', name: 'DISHISTORYDEATHS2', index: 'DISHISTORYDEATHS2', width: 100, align: 'left', sortable: true },
     { label: '灾害史损失牲畜2', name: 'DISHISTORYLOSSLIVESTOCK2', index: 'DISHISTORYLOSSLIVESTOCK2', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁房屋2', name: 'DISHISTORYCOMPDESHOUSES2', index: 'DISHISTORYCOMPDESHOUSES2', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁房屋2', name: 'DISHISTORYSDESHOUSES2', index: 'DISHISTORYSDESHOUSES2', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁农田2', name: 'DISHISTORYCOMPDESFARMLAND2', index: 'DISHISTORYCOMPDESFARMLAND2', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁农田2', name: 'DISHISTORYSDESFARMLAND2', index: 'DISHISTORYSDESFARMLAND2', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏道路2', name: 'DISHISTORYDESROAD2', index: 'DISHISTORYDESROAD2', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏桥梁2', name: 'DISHISTORYDESBRIDGE2', index: 'DISHISTORYDESBRIDGE2', width: 100, align: 'left', sortable: true },
     { label: '灾害史灾情等级2', name: 'DISHISTORYDISASTERDEGREES2', index: 'DISHISTORYDISASTERDEGREES2', width: 100, align: 'left', sortable: true },
     { label: '灾害史直接损失2', name: 'DISHISTORYDIRECTLOSS2', index: 'DISHISTORYDIRECTLOSS2', width: 100, align: 'left', sortable: true },
     { label: '灾害史发生时间3', name: 'DISHISTORYOCCURT3', index: 'DISHISTORYOCCURT3', width: 100, align: 'left', sortable: true },
     { label: '灾害史死亡人口3', name: 'DISHISTORYDEATHS3', index: 'DISHISTORYDEATHS3', width: 100, align: 'left', sortable: true },
     { label: '灾害史损失牲畜3', name: 'DISHISTORYLOSSLIVESTOCK3', index: 'DISHISTORYLOSSLIVESTOCK3', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁房屋3', name: 'DISHISTORYCOMPDESHOUSES3', index: 'DISHISTORYCOMPDESHOUSES3', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁房屋3', name: 'DISHISTORYSDESHOUSES3', index: 'DISHISTORYSDESHOUSES3', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁农田3', name: 'DISHISTORYCOMPDESFARMLAND3', index: 'DISHISTORYCOMPDESFARMLAND3', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁农田3', name: 'DISHISTORYSDESFARMLAND3', index: 'DISHISTORYSDESFARMLAND3', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏道路3', name: 'DISHISTORYDESROAD3', index: 'DISHISTORYDESROAD3', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏桥梁3', name: 'DISHISTORYDESBRIDGE3', index: 'DISHISTORYDESBRIDGE3', width: 100, align: 'left', sortable: true },
     { label: '灾害史直接损失3', name: 'DISHISTORYDIRECTLOSS3', index: 'DISHISTORYDIRECTLOSS3', width: 100, align: 'left', sortable: true },
     { label: '灾害史灾情等级3', name: 'DISHISTORYDISASTERDEGREES3', index: 'DISHISTORYDISASTERDEGREES3', width: 100, align: 'left', sortable: true },
     { label: '灾害史发生时间4', name: 'DISHISTORYOCCURT4', index: 'DISHISTORYOCCURT4', width: 100, align: 'left', sortable: true },
     { label: '灾害史死亡人口4', name: 'DISHISTORYDEATHS4', index: 'DISHISTORYDEATHS4', width: 100, align: 'left', sortable: true },
     { label: '灾害史损失牲畜4', name: 'DISHISTORYLOSSLIVESTOCK4', index: 'DISHISTORYLOSSLIVESTOCK4', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁房屋4', name: 'DISHISTORYCOMPDESHOUSES4', index: 'DISHISTORYCOMPDESHOUSES4', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁房屋4', name: 'DISHISTORYSDESHOUSES4', index: 'DISHISTORYSDESHOUSES4', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁农田4', name: 'DISHISTORYCOMPDESFARMLAND4', index: 'DISHISTORYCOMPDESFARMLAND4', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁农田4', name: 'DISHISTORYSDESFARMLAND4', index: 'DISHISTORYSDESFARMLAND4', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏道路4', name: 'DISHISTORYDESROAD4', index: 'DISHISTORYDESROAD4', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏桥梁4', name: 'DISHISTORYDESBRIDGE4', index: 'DISHISTORYDESBRIDGE4', width: 100, align: 'left', sortable: true },
     { label: '灾害史直接损失4', name: 'DISHISTORYDIRECTLOSS4', index: 'DISHISTORYDIRECTLOSS4', width: 100, align: 'left', sortable: true },
     { label: '灾害史灾情等级4', name: 'DISHISTORYDISASTERDEGREES4', index: 'DISHISTORYDISASTERDEGREES4', width: 100, align: 'left', sortable: true },
     { label: '灾害史发生时间5', name: 'DISHISTORYOCCURT5', index: 'DISHISTORYOCCURT5', width: 100, align: 'left', sortable: true },
     { label: '灾害史死亡人口5', name: 'DISHISTORYDEATHS5', index: 'DISHISTORYDEATHS5', width: 100, align: 'left', sortable: true },
     { label: '灾害史损失牲畜5', name: 'DISHISTORYLOSSLIVESTOCK5', index: 'DISHISTORYLOSSLIVESTOCK5', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁房屋5', name: 'DISHISTORYCOMPDESHOUSES5', index: 'DISHISTORYCOMPDESHOUSES5', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁房屋5', name: 'DISHISTORYSDESHOUSES5', index: 'DISHISTORYSDESHOUSES5', width: 100, align: 'left', sortable: true },
     { label: '灾害史全毁农田5', name: 'DISHISTORYCOMPDESFARMLAND5', index: 'DISHISTORYCOMPDESFARMLAND5', width: 100, align: 'left', sortable: true },
     { label: '灾害史半毁农田5', name: 'DISHISTORYSDESFARMLAND5', index: 'DISHISTORYSDESFARMLAND5', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏道路5', name: 'DISHISTORYDESROAD5', index: 'DISHISTORYDESROAD5', width: 100, align: 'left', sortable: true },
     { label: '灾害史毁坏桥梁5', name: 'DISHISTORYDESBRIDGE5', index: 'DISHISTORYDESBRIDGE5', width: 100, align: 'left', sortable: true },
     { label: '灾害史直接损失5', name: 'DISHISTORYDIRECTLOSS5', index: 'DISHISTORYDIRECTLOSS5', width: 100, align: 'left', sortable: true },
     { label: '灾害史灾情等级5', name: 'DISHISTORYDISASTERDEGREES5', index: 'DISHISTORYDISASTERDEGREES5', width: 100, align: 'left', sortable: true },
     { label: '泥石流冲出方量', name: 'DEBRISFLOWOUTSQUCAP', index: 'DEBRISFLOWOUTSQUCAP', width: 100, align: 'left', sortable: true },
     { label: '泥石流规模等级', name: 'DEBRISFLOWRATINGSCALE', index: 'DEBRISFLOWRATINGSCALE', width: 100, align: 'left', sortable: true },
     { label: '泥石流泥位', name: 'DEBRISFLOWMUDPOSITION', index: 'DEBRISFLOWMUDPOSITION', width: 100, align: 'left', sortable: true },
     { label: '不良地质现象', name: 'BADGEOLOGICALPHENOMENA', index: 'BADGEOLOGICALPHENOMENA', width: 100, align: 'left', sortable: true },
     { label: '补给段长度比', name: 'SUPPLYLENGTHRATIO', index: 'SUPPLYLENGTHRATIO', width: 100, align: 'left', sortable: true },
     { label: '沟口扇形地', name: 'MIZOGUCHIFAN', index: 'MIZOGUCHIFAN', width: 100, align: 'left', sortable: true },
     { label: '主沟纵坡', name: 'MCHANNELLSLOPE', index: 'MCHANNELLSLOPE', width: 100, align: 'left', sortable: true },
     { label: '新构造影响', name: 'NEWCONSTRUCTIONAFFECT', index: 'NEWCONSTRUCTIONAFFECT', width: 100, align: 'left', sortable: true },
     { label: '植被覆盖率', name: 'VEGETATIONCOVERAGE', index: 'VEGETATIONCOVERAGE', width: 100, align: 'left', sortable: true },
     { label: '冲淤变幅（米）', name: 'EROSIONAMPLITUDE', index: 'EROSIONAMPLITUDE', width: 100, align: 'left', sortable: true },
     { label: '岩性因素', name: 'ROCKFACTOR', index: 'ROCKFACTOR', width: 100, align: 'left', sortable: true },
     { label: '松散物储量(万立方米/平方公里）', name: 'LOOSEMATRESERVES', index: 'LOOSEMATRESERVES', width: 100, align: 'left', sortable: true },
     { label: '山坡坡度', name: 'MOUNTAINSLOPE', index: 'MOUNTAINSLOPE', width: 100, align: 'left', sortable: true },
     { label: '沟槽横断面', name: 'TRENCHCCROSSSECTIONAL', index: 'TRENCHCCROSSSECTIONAL', width: 100, align: 'left', sortable: true },
     { label: '松散物平均厚（米）', name: 'LOOSEMATAVERAGETHICK', index: 'LOOSEMATAVERAGETHICK', width: 100, align: 'left', sortable: true },
     { label: '流域面积（平方米）', name: 'DRAINAGESIZE', index: 'DRAINAGESIZE', width: 100, align: 'left', sortable: true },
     { label: '相对高差（米）', name: 'RELATIVEHEIGHT', index: 'RELATIVEHEIGHT', width: 100, align: 'left', sortable: true },
     { label: '堵塞程度', name: 'BLOCKDEGREE', index: 'BLOCKDEGREE', width: 100, align: 'left', sortable: true },
     { label: '评分1', name: 'SCORE1', index: 'SCORE1', width: 100, align: 'left', sortable: true },
     { label: '评分2', name: 'SCORE2', index: 'SCORE2', width: 100, align: 'left', sortable: true },
     { label: '评分3', name: 'SCORE3', index: 'SCORE3', width: 100, align: 'left', sortable: true },
     { label: '评分4', name: 'SCORE4', index: 'SCORE4', width: 100, align: 'left', sortable: true },
     { label: '评分5', name: 'SCORE5', index: 'SCORE5', width: 100, align: 'left', sortable: true },
     { label: '评分6', name: 'SCORE6', index: 'SCORE6', width: 100, align: 'left', sortable: true },
     { label: '评分7', name: 'SCORE7', index: 'SCORE7', width: 100, align: 'left', sortable: true },
     { label: '评分9', name: 'SCORE9', index: 'SCORE9', width: 100, align: 'left', sortable: true },
     { label: '评分8', name: 'SCORE8', index: 'SCORE8', width: 100, align: 'left', sortable: true },
     { label: '评分10', name: 'SCORE10', index: 'SCORE10', width: 100, align: 'left', sortable: true },
     { label: '评分11', name: 'SCORE11', index: 'SCORE11', width: 100, align: 'left', sortable: true },
     { label: '评分12', name: 'SCORE12', index: 'SCORE12', width: 100, align: 'left', sortable: true },
     { label: '评分13', name: 'SCORE13', index: 'SCORE13', width: 100, align: 'left', sortable: true },
     { label: '评分14', name: 'SCORE14', index: 'SCORE14', width: 100, align: 'left', sortable: true },
     { label: '评分15', name: 'SCORE15', index: 'SCORE15', width: 100, align: 'left', sortable: true },
     { label: '总分', name: 'TOTAL', index: 'TOTAL', width: 100, align: 'left', sortable: true },
     { label: '易发程度', name: 'PRONEDEGREE', index: 'PRONEDEGREE', width: 100, align: 'left', sortable: true },
     { label: '泥石流类型', name: 'DEBRISFLOWTYPE', index: 'DEBRISFLOWTYPE', width: 100, align: 'left', sortable: true },
     { label: '发展阶段', name: 'DEVELOPINGSTAGE', index: 'DEVELOPINGSTAGE', width: 100, align: 'left', sortable: true },
     { label: '监测建议', name: 'DEBRISFLOWMONITORSUGGESTION', index: 'DEBRISFLOWMONITORSUGGESTION', width: 100, align: 'left', sortable: true },
     { label: '防治建议', name: 'TREATMENTSUGGESTION', index: 'TREATMENTSUGGESTION', width: 100, align: 'left', sortable: true },
     { label: '隐患点', name: 'HIDDENPOINT', index: 'HIDDENPOINT', width: 100, align: 'left', sortable: true },
     { label: '防灾预案', name: 'DISASTERPREPAREDNESS', index: 'DISASTERPREPAREDNESS', width: 100, align: 'left', sortable: true },
     { label: '群测人员', name: 'MONITORMASS', index: 'MONITORMASS', width: 100, align: 'left', sortable: true },
     { label: '村长', name: 'VILLAGEHEADER', index: 'VILLAGEHEADER', width: 100, align: 'left', sortable: true },
     { label: '电话', name: 'PHONE', index: 'PHONE', width: 100, align: 'left', sortable: true },
     { label: '调查负责人', name: 'SURVEYHEADER', index: 'SURVEYHEADER', width: 100, align: 'left', sortable: true },
     { label: '填表人', name: 'FILLTABLEPEOPLE', index: 'FILLTABLEPEOPLE', width: 100, align: 'left', sortable: true },
     { label: '审核人', name: 'VERIFYPEOPLE', index: 'VERIFYPEOPLE', width: 100, align: 'left', sortable: true },
     { label: '调查单位', name: 'SURVEYDEPT', index: 'SURVEYDEPT', width: 100, align: 'left', sortable: true },
     { label: '填表日期', name: 'FILLTABLEDATE', index: 'FILLTABLEDATE', width: 100, align: 'left', sortable: true },
     { label: '更新时间', name: 'UPDATETIME', index: 'UPDATETIME', width: 100, align: 'left', sortable: true },
     { label: '记录状态', name: 'RECORDSTATUS', index: 'RECORDSTATUS', width: 100, align: 'left', sortable: true },
     { label: '导出状态', name: 'EXPSTATUS', index: 'EXPSTATUS', width: 100, align: 'left', sortable: true },
     { label: '防灾情况', name: 'CONTROLSTATE', index: 'CONTROLSTATE', width: 100, align: 'left', sortable: true },
     { label: '创建者ID', name: 'CREATORUSERID', index: 'CREATORUSERID', width: 100, align: 'left', sortable: true },
     { label: '创建时间', name: 'CREATORTIME', index: 'CREATORTIME', width: 100, align: 'left', sortable: true },
     { label: '更新者ID', name: 'UPDATEUSERID', index: 'UPDATEUSERID', width: 100, align: 'left', sortable: true },
     { label: '更新次数', name: 'UPDATETIMES', index: 'UPDATETIMES', width: 100, align: 'left', sortable: true },
     { label: '泥石流情况', name: 'DEBRISFLOWDESC', index: 'DEBRISFLOWDESC', width: 100, align: 'left', sortable: true },
     { label: '项目编号', name: 'PROJECTID', index: 'PROJECTID', width: 100, align: 'left', sortable: true },
     { label: '图幅编号', name: 'MAPID', index: 'MAPID', width: 100, align: 'left', sortable: true },
     { label: '图幅名称', name: 'MAPNAME', index: 'MAPNAME', width: 100, align: 'left', sortable: true },
     { label: '县市编号', name: 'COUNTYCODE', index: 'COUNTYCODE', width: 100, align: 'left', sortable: true },
     { label: '暴发频率（次/年）', name: 'OCCURREDFREQUENCY', index: 'OCCURREDFREQUENCY', width: 100, align: 'left', sortable: true },
     { label: '死亡人口（人）', name: 'DEATHSPEOPLE', index: 'DEATHSPEOPLE', width: 100, align: 'left', sortable: true },
     { label: '直接经济损失（万元）', name: 'DIRECTECONOMICLOSSES', index: 'DIRECTECONOMICLOSSES', width: 100, align: 'left', sortable: true },
     { label: '灾情等级', name: 'DISASTERLEVEL', index: 'DISASTERLEVEL', width: 100, align: 'left', sortable: true },
     { label: '危害对象', name: 'DESTROYEDOBJECT', index: 'DESTROYEDOBJECT', width: 100, align: 'left', sortable: true },
     { label: '遥感解译点（0：否；1：是）', name: 'ISRSPNT', index: 'ISRSPNT', width: 100, align: 'left', sortable: true },
     { label: '勘查点（0：否；1：是）', name: 'ISSURVEYPNT', index: 'ISSURVEYPNT', width: 100, align: 'left', sortable: true },
     { label: '测绘点（0：否；1：是）', name: 'ISMEASURINGPNT', index: 'ISMEASURINGPNT', width: 100, align: 'left', sortable: true },
     { label: '野外记录信息', name: 'OUTDOORRECORD', index: 'OUTDOORRECORD', width: 100, align: 'left', sortable: true },
     { label: '村', name: 'VILLAGE', index: 'VILLAGE', width: 100, align: 'left', sortable: true },
     { label: '组', name: 'TEAM', index: 'TEAM', width: 100, align: 'left', sortable: true },
     { label: '群测群防', name: 'MASSMONITORING', index: 'MASSMONITORING', width: 100, align: 'left', sortable: true },
     { label: '专业监测', name: 'PROFESSIONMONITORING', index: 'PROFESSIONMONITORING', width: 100, align: 'left', sortable: true },
     { label: '搬迁避让', name: 'RELOCATION', index: 'RELOCATION', width: 100, align: 'left', sortable: true },
     { label: '工程治理', name: 'ENGINEERINGMANAGEMENT', index: 'ENGINEERINGMANAGEMENT', width: 100, align: 'left', sortable: true },
     { label: '其它', name: 'OTHER', index: 'OTHER', width: 100, align: 'left', sortable: true },
     { label: '威胁房屋（户）', name: 'THREATENHOME', index: 'THREATENHOME', width: 100, align: 'left', sortable: true },
     { label: '流域', name: 'RIVERBASIN', index: 'RIVERBASIN', width: 100, align: 'left', sortable: true },
     { label: '失踪人数', name: 'MISSINGPERSON', index: 'MISSINGPERSON', width: 100, align: 'left', sortable: true },
     { label: '受伤人数', name: 'INJUREDPERSON', index: 'INJUREDPERSON', width: 100, align: 'left', sortable: true },
     { label: '是否治理工程', name: 'ISZLGCPNT', index: 'ISZLGCPNT', width: 100, align: 'left', sortable: true },
     { label: '是否有监测点', name: 'ISMONITORPNT', index: 'ISMONITORPNT', width: 100, align: 'left', sortable: true },
     { label: '遥感解译', name: 'DISASTERSID', index: 'DISASTERSID', width: 100, align: 'left', sortable: true },
     { label: '更新人(最近)', name: 'UPDATEUSER', index: 'UPDATEUSER', width: 100, align: 'left', sortable: true },
     { label: '群测人ID', name: 'MONITORMASSID', index: 'MONITORMASSID', width: 100, align: 'left', sortable: true },
     { label: '村长ID', name: 'VILLAGEHEADERID', index: 'VILLAGEHEADERID', width: 100, align: 'left', sortable: true },
     { label: '调查负责人ID', name: 'SURVEYHEADERID', index: 'SURVEYHEADERID', width: 100, align: 'left', sortable: true },
     { label: '填表人ID', name: 'FILLTABLEPEOPLEID', index: 'FILLTABLEPEOPLEID', width: 100, align: 'left', sortable: true },
     { label: '审核人ID', name: 'VERIFYPEOPLEID', index: 'VERIFYPEOPLEID', width: 100, align: 'left', sortable: true },
     { label: '调查单位ID', name: 'SURVEYDEPTID', index: 'SURVEYDEPTID', width: 100, align: 'left', sortable: true },
     { label: '泥石流特征容量(t/m3)', name: 'DEBRISFLOWCAPACITY', index: 'DEBRISFLOWCAPACITY', width: 100, align: 'left', sortable: true },
     { label: '泥石流特征流量(m3/s)', name: 'DEBRISFLOWDISCHARGE', index: 'DEBRISFLOWDISCHARGE', width: 100, align: 'left', sortable: true },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'UNIFIEDCODE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加泥石流调查表',
            url: '/JXGeoManage/TBL_DEBRISFLOW/TBL_DEBRISFLOWForm',
            width: 'px',
            height: 'px',
            callBack: function (iframeId) {
                getInfoTop().frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $("#gridTable").jqGridRowValue('UNIFIEDCODE');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑泥石流调查表',
                url: '/JXGeoManage/TBL_DEBRISFLOW/TBL_DEBRISFLOWForm?keyValue=' + keyValue,
                width: 'px',
                height: 'px',
                callBack: function (iframeId) {
                    getInfoTop().frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $("#gridTable").jqGridRowValue('UNIFIEDCODE');
        if (keyValue) {
            $.RemoveForm({
                url: '../../JXGeoManage/TBL_DEBRISFLOW/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的泥石流调查表！', 0);
        }
    }
</script>
}
