<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.37)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=orcl)));User Id=P60_GDGEODISASTER;Password=gd123456;" providerName="Oracle.ManagedDataAccess.Client" />
  <add name="业务系统" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.37)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=orcl)));User Id=P60_GDGEODISASTER;Password=gd123456;" providerName="Oracle.ManagedDataAccess.Client" />
  <!--以下是导入数据内网使用的，不用做修改-->
  <!--<add name="AHBaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.75)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=orcl)));User Id=JXGEODISASTER;Password=jx123456;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <!--<add name="BaseDb" connectionString="Server=192.168.1.148;Initial Catalog=60_GeoDisaster;User ID=sa;Password=meishan@123456" providerName="System.Data.SqlClient"/>
  <add name="业务系统" connectionString="Server=192.168.1.148;Initial Catalog=60_GeoDisaster;User ID=sa;Password=meishan@123456" providerName="System.Data.SqlClient" />-->
  <add name="贵州地灾调查" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.75)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=orcl)));User Id=GZGEODISASTER;Password=gz123456" providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>