<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 不允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wxa2c39f6194f4" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="eDo9pEOXWqSgWtQ-_1NF_NTmGDTlZ3UFFdF3To-" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.infoearth.com" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="武汉地大信息工程股份有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="地灾业务支撑平台调查系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="地灾业务支撑平台调查系统" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@infoearth.cn" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="infoearth123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 6：短信参数 ================== -->
  <!-- 短信账户 -->
  <add key="SMSAccount" value="jumuxx_lr" />
  <!-- 短信密码 -->
  <add key="SMSPswd" value="Lrxx158753" />
  <!-- 短信接口地址 -->
  <add key="SMSUrl" value="http://222.73.117.156:80/msg/HttpBatchSendSM" />
  <add key="userKey" value="14B417B0-463D-4F2B-8075-0A20EEDB773A" />

  <!-- ================== 7：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <!--<add key="SignalRUrl" value="http://learun.cn:8081/signalr" />-->
  <add key="SignalRUrl" value="http://localhost:8081/signalr" />

  <!--多媒体地址-->
  <add key="MediaPath" value="http://192.168.1.36:8810/MultimediaWebsite"/>
  <!--SSO地址-->
  <add key="SSOUrl" value="http://192.168.1.36:8880/"/>
  <add key="SSOWWUrl" value="http://192.168.1.36:8880/"/>
  <add key="WebApiResultWrap" value="true"/>


  <!--应急调查地址-->
  <!--<add key="YJDCUrl" value="http://192.168.101.16:8046/"/>-->
  <add key="YJDCUrl" value="http://192.168.1.36:8884/"/>
  <!--专业监测地址-->
  <add key="ZJJCURL" value="http://192.168.1.36:8882/"/>
  <!--默认的行政区划-->
  <add key="DefalutCode" value="440000"/>
  <add key="DefalutName" value="广东省"/>
  <!--初始化地图位置(经,纬,级数)-->
  <!--<add key="center" value="115.85,28.68,7"/>-->
  <add key="center" value="113.32, 23.27,3"/>

  <!--业务系统自身的地址-->
  <add key="WebBusinessUrl" value="http://192.168.1.36:8881/"/>
  <!--业务系统菜单来源 0为业务系统自身，1为基础信息平台获取菜单-->
  <add key="MeunFrom" value="1"/>

  <!--开始启动时是否注册WebApi,如果已经注册设置为false-->
  <add key="WebApiRegist" value="true"/>
  <!--业务系统Code-->
  <add key="businessCode" value="p60_geodisaster"/>
  <!--业务系统名称-->
  <add key="BusinessName" value="地质灾害"/>

  <!--导入工具使用的导入路径-->
  <add key="ServerFolder" value="D:\Upload\"/>
  <!--Oracle数据库用户名-->
  <add key="OracleSchema" value="P60_GDGEODISASTER"/>

  <!--控件说明文档的基础地址-->
  <add key="ControlDetailUrl" value="http://192.168.100.69:8001/"/>

  <!--HangFire持久化类型，取值为SqlServer，MySql,Redis-->
  <add key="HangFireStoreType" value="SqlServer"/>

  <add key="owin:AutomaticAppStartup" value="false"/>

  <add key="imageExt" value=".jpg,.bmp,.gif,.png" />
  <!--EF是否预热缓存-->
  <add key="IsEFCache" value="true" />
  <!--数据库连接Key集合，多个用逗号隔开，默认BaseDb-->
  <add key="EFConKeys" value="BaseDb" />

  <!-- 图层文件相对路径 -->
  <add key="GeoMap" value="XmlConfig/GeoMap.xml" />
  <!-- GIS图层 -->
  <add key="GISLayer" value="" />
</appSettings>