@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_IndexMap.cshtml";
}
<script>
    //读取
    function getAuthorizationToken() {
        var strCookie = document.cookie;
        var cookieArray = strCookie.split('; ');
        for (var i = 0; i < cookieArray.length; i++) {
            var key = cookieArray[i].split('=')[0];
            var value = cookieArray[i].split('=')[1];
            if (key == 'Token') {
                value = unescape(value);
                //去掉逗号、用户名
                value = value.split(',')[0];
                //md5加密、转大写
                value = $.md5(value).toUpperCase();
                return value;
            }
        }
        return null;
    }
    var authToken = getAuthorizationToken();
    var AreaVale = "", flag = true;
    $(function () {
        mapshow = true;
        initControl();
        InitialPage();
        GetTree();
        GetMapData();
        GetGrid();
        BindMapMarker();
        $("#serch-btn").click(function () {
            if (flag) {
                $("#GJCX").css("top", 40)
                $("#fontfamily").removeClass();
                $("#fontfamily").addClass("fa fa-caret-down")
                flag = false
            } else {
                $("#GJCX").css("top", -120)
                $("#fontfamily").removeClass();
                $("#fontfamily").addClass("fa fa-caret-right")
                flag = true
            }
        })
        $("#mapControl").click(function () {
            if ($("#GJCX").position().top > 0) {
                $("#GJCX").css("top", -120)
                $("#fontfamily").removeClass();
                $("#fontfamily").addClass("fa fa-caret-right")
                flag = true
            }
        })
        $("#itemTree").click(function () {
            if ($("#GJCX").position().top > 0) {
                $("#GJCX").css("top", -120)
                $("#fontfamily").removeClass();
                $("#fontfamily").addClass("fa fa-caret-right")
                flag = true
            }
        })
        $("#ui_grid").click(function () {
            if ($("#GJCX").position().top > 0) {
                $("#GJCX").css("top", -120)
                $("#fontfamily").removeClass();
                $("#fontfamily").addClass("fa fa-caret-right")
                flag = true
            }
        })
        //重置
        $("#btn_Reset").click(function () {
            $("#DISASTERNAME").val("");
            $("#UNIFIEDCODE").val("");
            $("#HIDDENDANGER").val("");
            $("#HIDDENDANGER").attr("data-value", "").attr("data-text", "");
            $("#HIDDENDANGER .ui-select-text").text(" ");
            $("#DISASTERLEVEL").val("");
            $("#DISASTERLEVEL").attr("data-value", "").attr("data-text", "");
            $("#DISASTERLEVEL .ui-select-text").text(" ");
            $("#THREATENPEOPLEBEGIN").val("");
            $("#DEATHTOLLBEGIN").val("");
            $("#ASSETSLOSEBEGIN").val("");
            $("#THREATENPEOPLEEND").val("");
            $("#DEATHTOLLEND").val("");
            $("#ASSETSLOSEEND").val("");
            $("#DISASTERTYPE").attr("data-value", "").attr("data-text", "");
            $("#DISASTERTYPE .ui-select-text").text(" ");
            $("#DANGERLEVEL").attr("data-value", "").attr("data-text", "");
            $("#DANGERLEVEL .ui-select-text").text(" ");
            $("#IMPORTANTDANGER").attr("data-value", "").attr("data-text", "");
            $("#IMPORTANTDANGER .ui-select-text").text(" ");
           // $("#ISLOSE").attr("data-value", "").attr("data-text", ""); 
           // $("#ISLOSE .ui-select-text").text(" ");
            $("#LOSEREASON").attr("data-value", "").attr("data-text", "");
            $("#LOSEREASON .ui-select-text").text(" ");
        });
        //高级查询
        $("#btn_Search_higher").click(function () {
            SearchEvent();
        })
        //查询 
        $("#btn_Search").click(function(){         
            SearchEvent();  
        })
        $("#txt_Key").keydown(function (event) {
            if (event.keyCode == "13") {
                SearchEvent();
            }
        });
    })

    //刷新
    function shuaixn() {
        SearchEvent();
    }
    //初始化页面
    function InitialPage() {
        $('#ui_map').height($(window).height() * 0.53)
        $('#ui_map>div').height($(window).height() * 0.53)
        //layout布局
        $('#layout').layout({
            west__size: 160,
            applyDemoStyles: true,
            onresize: function () {
                if (isResize < 10) {
                    isResize++;
                }
                resize();
            }
        });
        var isResize = 0;
        var count = 0;
        var resized = 0;
        $('#layout2').layout({
            applyDemoStyles: true,
            onresize: function () {
                resize();
                if (isResize > 1) {
                    resized = 1;
                } else {
                    if (count == 1 || resized == 0) {
                        $('#layout2 .ui-layout-center').height($('#layout2 .ui-layout-center').height() - 18);
                    }
                }
                count++;
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            if (isResize < 10) {
                isResize++;
            }
            resize();
            e.stopPropagation();
        });
        function resize() {
            window.setTimeout(function () {
                if (mapCtlExt != null) {
                    mapCtlExt.setHeight($('#mapControl').parent().height() - 4);
                }
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#layout2 .ui-layout-center').width($('#layout2 .ui-layout-center').parent().width());
                $('#layout2 .ui-layout-resizer').width($('#layout2 .ui-layout-center').parent().width());
                $('.ui-jqgrid-bdiv').height($('#layout2 .ui-layout-center').height() - 60 - 60);
                $('#layout2 .ui-layout-center').height($('#layout2').height() - $('#layout2 .ui-layout-north').height());
                $('#gridTable').setGridHeight($('#layout2 .ui-layout-center').height() - 95);
                $('#layout2 .ui-layout-center').css('overflow', 'hidden');
            }, 200);
        };
        $(window).resize();
        $('#layout2 .ui-layout-center').height($('#layout2 .ui-layout-center').height() - 18);
        layout2NorthH = $("#layout2 .ui-layout-north").height();
    }
        //加载行政区划树
        var PROVINCE = "", CITY = "", COUNTY = "";
        function GetTree() {
            var item = {
                height: $(window).height() - 52,
                isAllExpand: false,
                url: "../../Map/GetTreeJsonForMap",
                onnodeclick: function (item) {
                    AreaCode = item.id;
                    AreaVale = item.value;
                    var level = item.value.split(',')[1];
                    if (level == 1) {
                        PROVINCE = item.id;
                        CITY = "";
                        COUNTY = "";
                    } else if (level == 2) {
                        PROVINCE = item.id.substring(0, 2) + "0000";
                        CITY = item.id;
                        COUNTY = "";
                    } else if (level == 3) {
                        PROVINCE = item.id.substring(0, 2) + "0000";
                        CITY = item.id.substring(0, 4) + "00";
                        COUNTY = item.id;
                    }
                    var data = [{
                        latitude: item.value.split(',')[3],
                        longitude: item.value.split(',')[2],
                        popupHtml: ""
                    }]
                    mapCtlExt.addLocation(data,false,level);
                    SearchEvent();
                },
            };
            //初始化
            $("#itemTree").treeview(item);
        };
        //加载地图
        var mapCtlExt = null;
        function GetMapData() {
            mapCtlExt = $("#mapControl").mapCtl(
                cfGetMapData({})
            );
        }
        //加载表格
        function GetGrid() {
            var selectedRowIndex = 0;
            var queryJson = $("#PCCX").getWebControls();
            queryJson["PROVINCE"] = PROVINCE;
            queryJson["CITY"] = CITY;
            queryJson["COUNTY"] = COUNTY;
            queryJson["PROJECTTYPE"] = "排查";
            queryJson["TYPE"] = "查询";
            var $gridTable = $('#gridTable');
            $gridTable.jqGrid({
                autowidth: true,
                height: $(window).height() - 752,
                mtype: 'POST',
                postData: { queryJson: JSON.stringify(queryJson) },
                url: "../../api/TBL_HAZARDBASICINFOApi/PostPageListJson",
                datatype: "json",
                loadBeforeSend: function (a) {
                    if (authToken != null)
                        a.setRequestHeader("Authorization", authToken);
                },
                colModel: [
                    { label: '主键', name: 'GUID', index: 'GUID', width: 250, align: 'left', sortable: true, hidden: true },
                    { label: '灾害点编号', name: 'UNIFIEDCODE', index: 'UNIFIEDCODE', width: 250, align: 'left', sortable: true },
                    { label: '原统一编号', name: 'OLDCODE', index: 'OLDCODE', width: 250, align: 'left', sortable: true },
                    { label: '灾害点名称', name: 'DISASTERNAME', index: 'DISASTERNAME', width: 300, align: 'left', sortable: true },
                    { label: '灾害点类型', name: 'DISASTERTYPE', index: 'DISASTERTYPE', width: 200, align: 'left', sortable: true },
                    {
                        label: '灾情等级', name: 'DISASTERLEVEL', index: 'DISASTERLEVEL', width: 150, align: 'left', sortable: true,
                        formatter: function (cellvalue, options, rowObject) {
                            return getInfoTop().learun.data.get(["dataItem", "DISASTERLEVEL", cellvalue]);
                        }
                    },
                    {
                        label: '险情等级', name: 'DANGERLEVEL', index: 'DANGERLEVEL', width: 150, align: 'left', sortable: true,
                        formatter: function (cellvalue, options, rowObject) {
                            return getInfoTop().learun.data.get(["dataItem", "DANGERLEVEL", cellvalue]);
                        }
                    },
                    { label: '经度', name: 'LONGITUDE', index: 'LONGITUDE', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '纬度', name: 'LATITUDE', index: 'LATITUDE', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '地理位置', name: 'LOCATION', index: 'LOCATION', width: 500, align: 'left', sortable: true },
                    { label: '市', name: 'CITY', index: 'CITY', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '市名称', name: 'CITYNAME', index: 'CITYNAME', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '县', name: 'COUNTY', index: 'COUNTY', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '县名称', name: 'COUNTYNAME', index: 'COUNTYNAME', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '乡镇', name: 'TOWN', index: 'TOWN', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '乡镇名称', name: 'TOWNNAME', index: 'TOWNNAME', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '目前稳定程度', name: 'CURSTABLESTATUS', index: 'CURSTABLESTATUS', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '今后变化趋势', name: 'STABLETREND', index: 'STABLETREND', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '威胁人口', name: 'THREATENPEOPLE', index: 'THREATENPEOPLE', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '威胁财产', name: 'THREATENASSETS', index: 'THREATENASSETS', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '死亡人口', name: 'DEATHTOLL', index: 'DEATHTOLL', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '财产损失', name: 'ASSETSLOSE', index: 'ASSETSLOSE', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '防治建议', name: 'TREATMENTSUGGESTION', index: 'TREATMENTSUGGESTION', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '隐患点', name: 'HIDDENDANGER', index: 'HIDDENDANGER', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '监测建议', name: 'MONITORSUGGESTION', index: 'MONITORSUGGESTION', width: 100, align: 'left', sortable: true, hidden: true },
                    { label: '修改日期', name: 'MODIFYTIME', index: 'MODIFYTIME', width: 100, align: 'left', sortable: true, hidden: true }

                ],
                viewrecords: true,
                rowNum: 30,
                rowList: [30, 50, 100],
                pager: "#gridPager",
                sortname: 'MODIFYTIME',
                sortorder: 'desc',
                rownumbers: true,
                shrinkToFit: true,
                gridview: true,
                onSelectRow: function (rowId, status) {
                    selectedRowIndex = $('#' + this.id).getGridParam('selrow');
                    var dt = $gridTable.jqGrid("getRowData", rowId);
                    var data = [];
                    data.push({ longitude: dt.LONGITUDE, latitude: dt.LATITUDE });
                    mapCtlExt.addLocation(data,false);
                },
                gridComplete: function () {
                    $('#' + this.id).setSelection(selectedRowIndex, false);
                }
            });
        }

    //刷新
        function shuaxin() {
            SearchEvent();
        }



        //查询方法
        function SearchEvent() {
            var queryJson = $("#PCCX").getWebControls();
            queryJson["PROVINCE"] = PROVINCE;
            queryJson["CITY"] = CITY;
            queryJson["COUNTY"] = COUNTY;
            queryJson["TYPE"] = "查询";
            queryJson["PROJECTTYPE"] = "排查";
            BindMapMarker();
            $("#gridTable").jqGrid('setGridParam', {
                loadBeforeSend: function (a) {
                    a.setRequestHeader("Authorization", authToken);
                },
                postData: { condition: JSON.stringify(WKTString), queryJson: JSON.stringify(queryJson) },
                url: "../../api/TBL_HAZARDBASICINFOApi/PostPageListJson",
                page: 1
            }).trigger('reloadGrid');
            //map.getView().setZoom(4.6);//地图定位放大    
        }
        //初始化控件
        
        function initControl() {
            //灾害类型
            $("#DISASTERTYPE").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
                param: { EnCode: "HazardType" },
                id: "text",
                text: "text",
                height: '210px',
                description: "==请选择=="
            });

            //是否隐患点
            $("#HIDDENDANGER").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
                param: { EnCode: "HIDDENDANGER" },
                id: "value",
                text: "text",
                height: '200px',
                description: "==请选择=="
            });
            //重要隐患点
            //$("#ISIMPORTANT").ComboBox({
            //    url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
            //    param: { EnCode: "ISIMPORTANT" },
            //    id: "value",
            //    text: "text",
            //    height: '200px',
            //    description: "==请选择=="
            //});
            //灾害等级
            $("#DISASTERLEVEL").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
                param: { EnCode: "DISASTERLEVEL" },
                id: "value",
                text: "text",
                height: '200px',
                description: "==请选择=="
            });
            //险情等级
            $("#DANGERLEVEL").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
                param: { EnCode: "DANGERLEVEL" },
                id: "value",
                text: "text",
                height: '200px',
                description: "==请选择=="
            });
            //稳定程度
            $("#CURSTABLESTATUS").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
                param: { EnCode: "CURRENTSTABLESTATUS" },
                id: "value",
                text: "text",
                height: '200px',
                description: "==请选择=="
            });
            //是否销号
            $("#ISXH").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
                param: { EnCode: "ISXH" },
                id: "value",
                text: "text",
                height: '200px',
                description: "==请选择=="
            }); 
            //销号原因
            $("#LOSEREASON").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson",
                param: { EnCode: "XHYX" },
                id: "value",
                text: "text",
                height: '200px',
                description: "==请选择=="
            });
        }
        //加载地图marker
        function BindMapMarker() {
            var queryJson = $("#PCCX").getWebControls();
            queryJson["PROVINCE"] = PROVINCE;
            queryJson["CITY"] = CITY;
            queryJson["COUNTY"] = COUNTY;
            queryJson["TYPE"] = "查询";
            queryJson["PROJECTTYPE"] = "排查";
            $.ajax({
                url: "../../api/TBL_HAZARDBASICINFOApi/PostZYListJson",
                //async: false, 
                data: { condition: JSON.stringify(WKTString), queryJson: JSON.stringify(queryJson) },
                type: "POST",
                beforeSend: function (a) {
                    if (authToken != null)
                        a.setRequestHeader("Authorization", authToken);
                },
                success: function (dataList) {
                    var data = eval(dataList);
                    var returnValue = [];
                    for (var i = 0; i < data.length; i++) {
                        //var type = getInfoTop().learun.data.get(["dataItem", "DISASTERTYPE", data[i].DISASTERTYPE]);
                        var objArr = { guid: data[i].GUID, code: data[i].UNIFIEDCODE, name: data[i].DISASTERNAME, disastertype: data[i].DISASTERTYPE, jd: data[i].LONGITUDE, wd: data[i].LATITUDE, cityname: data[i].CITYNAME, countryname: data[i].COUNTYNAME, townname: data[i].TOWNNAME, wz: data[i].LOCATION, oldcode: data[i].OLDCODE };
                        var html = GetHtml(objArr);
                        var img = "../../Content/images/" + data[i].DISASTERTYPE + "-16.png";
                        returnValue.push({ id: "all", url: img, location: [data[i].LONGITUDE, data[i].LATITUDE], popupHtml: html, });
                    }
                    mapCtlExt.addMarker(returnValue);
                }, error: function (e) {
                },
                cache: false
            });
        };
        function GetHtml(objArr) {
            if (!objArr.townname) {
                objArr.townname = "";
            }
            if (!objArr.wz) {
                objArr.wz = "";
            }
            if (!objArr.cityname) {
                objArr.cityname = "";
            }
            if (!objArr.countryname) {
                objArr.countryname = "";
            }
            var divhtml = '<div style="font-weight: bold;"></div>';
            divhtml += '<div style="font-weight: bold;margin-bottom:5px;"><span style="margin-left:10px;">灾害点名称：</span><span>' + objArr.name + '</span></div>';
            divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">灾害类型：</span><span>' + objArr.disastertype + '</span></div>';
            divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">灾害点编号：</span><span>' + objArr.code + '</span></div>';
            divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">市名称：</span><span>' + objArr.cityname + '</span></div>';
            divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">县名称：</span><span>' + objArr.countryname + '</span></div>';
            divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">乡镇名称：</span><span>' + objArr.townname + '</span></div>';
            divhtml += '<div style="margin-bottom:5px;"><span style="margin-left:10px;">地理位置：</span><span>' + objArr.wz + '</span></div>';
            divhtml += '<span style="margin-right:20px; float:right; cursor: pointer;"><a onclick="MapViewDetail(\'' + objArr.disastertype + "," + objArr.code + "," + objArr.guid + "," + objArr.oldcode + '\' )" href="#" class="link-detail">详细信息</a></span>';
            return divhtml;

        }
        //详情
        function ViewDetail(type) {
            var unifycode = $("#gridTable").jqGridRowValue('UNIFIEDCODE')
            var oldcode = $("#gridTable").jqGridRowValue('OLDCODE');
            var GUID = $("#gridTable").jqGridRowValue('GUID');
            var types = $("#gridTable").jqGridRowValue('DISASTERTYPE');
            if (types == "滑坡") {
                types = "001"
            } else if (types == "崩塌") {
                types = "002"
            } else if (types == "泥石流") {
                types = "003"
            } else if (types == "地面沉降") {
                types = "004"
            } else if (types == "地面塌陷") {
                types = "005"
            } else if (types == "地裂缝") {
                types = "006"
            } else if (types == "斜坡") {
                types = "007"
            } else if (types == "滑坡隐患") {
                types = "008"
            } else if (types == "崩塌隐患") {
                types = "009"
            }
            if (checkedRow(GUID)) {
                newTab({
                    id: "DZPCCXXQ",
                    url: "/JXGeoManage/TBL_HAZARDBASICINFO/DETAIL?GUID=" + GUID + "&types=" + types + "&IsDetail=true&unifycode=" + unifycode + "&callback=show&oldcode=" + oldcode,
                });
            }
        }
        //地图详情
        function MapViewDetail(type) {
            var GUID = type.split(",")[2];
            var unifycode = type.split(",")[1];
            var types = type.split(",")[0];
            //var unifycode = $("#gridTable").jqGridRowValue('UNIFIEDCODE')
            //var keyValue = $("#gridTable").jqGridRowValue('GUID');
            //var types = $("#gridTable").jqGridRowValue('DISASTERTYPE');
            if (types == "滑坡") {
                types = "001"
            } else if (types == "崩塌") {
                types = "002"
            } else if (types == "泥石流") {
                types = "003"
            } else if (types == "地面沉降") {
                types = "004"
            } else if (types == "地面塌陷") {
                types = "005"
            } else if (types == "地裂缝") {
                types = "006"
            } else if (types == "斜坡") {
                types = "007"
            } else if (types == "滑坡隐患") {
                types = "008"
            } else if (types == "崩塌隐患") {
                types = "009"
            }
            newTab({
                id: "DZPCCXXQ",
                url: "/JXGeoManage/TBL_HAZARDBASICINFO/DETAIL?GUID=" + GUID + "&types=" + types + "&IsDetail=true&unifycode=" + unifycode + "&callback=show",
            });
            //var url = "/JXGeoManage/TBL_HAZARDBASICINFO/DETAIL?GUID=" + GUID + "&types=" + types + "&callback=" + document.URL + "&unifycode=" + unifycode;
            //document.location.href = url;
        }
        //对应导出
        function ExpExl() {
            var queryJson = {};
            queryJson = $("#PCCX").getWebControls();
            queryJson["PROVINCE"] = PROVINCE;
            queryJson["CITY"] = CITY;
            queryJson["COUNTY"] = COUNTY;
            queryJson["PROJECTTYPE"] = "排查";
            queryJson["TYPE"] = "查询";
            DownExcel("../../api/TBL_HAZARDBASICINFOApi/ExcelDownloadExt_POST", {
                queryJson: JSON.stringify(queryJson),
                condition: JSON.stringify(WKTString)
            });
        }
        //下载excel:先在服务器生成excel，然后下载文件（删除）
        function DownExcel(url, data) {
            $.ajax({
                url: url,
                data: data,
                async: false,
                type: "POST",
                beforeSend: function (a) {
                    a.setRequestHeader("Authorization", getAuthorizationToken());
                },
                success: function (data) {
                    location.href = "../../api/Utility/FileDownload/ExcelDownloadByFileName?fileName=" + data.fileNameGuid + "&DownFileName=" + data.DownFileName;
                }, error: function (e) {
                },
                cache: false
            });
        }
        function ColDataGrid() {
            var centerHeight = $("#layout2").height();
            var layout2 = $('#layout2').layout();
            if ($("#lr-colgrid i").hasClass("fa-chevron-down")) {
                var northH = centerHeight - 60;
                layout2.sizePane("north", northH);
                $("#lr-colgrid i").removeClass("fa-chevron-down");
                $("#lr-colgrid i").addClass("fa-chevron-up");
                if ($("#lr-colmap i").hasClass("fa-chevron-down")) {
                    $("#lr-colmap i").removeClass("fa-chevron-down");
                    $("#lr-colmap i").addClass("fa-chevron-up");
                }
            }
            else {
                layout2.sizePane("north", layout2NorthH);
                $("#lr-colgrid i").removeClass("fa-chevron-up");
                $("#lr-colgrid i").addClass("fa-chevron-down");
            }
            mapCtlExt.updateSize();
        }
        function ColMapDiv() {
            var layout2 = $('#layout2').layout();
            if ($("#lr-colmap i").hasClass("fa-chevron-up")) {
                layout2.sizePane("north", 1);
                $("#lr-colmap i").removeClass("fa-chevron-up");
                $("#lr-colmap i").addClass("fa-chevron-down");
                if ($("#lr-colgrid i").hasClass("fa-chevron-up")) {
                    $("#lr-colgrid i").removeClass("fa-chevron-up");
                    $("#lr-colgrid i").addClass("fa-chevron-down");
                }
            }
            else {
                layout2.sizePane("north", layout2NorthH);
                $("#lr-colmap i").removeClass("fa-chevron-down");
                $("#lr-colmap i").addClass("fa-chevron-up");
                if (mapCtlExt != null) {
                    mapCtlExt.setHeight($("#mapControl").parent().height() - 32);
                }
            }
            mapCtlExt.updateSize();
        }
        //导出word
        function btn_Word() {
            var keyValue = $("#gridTable").jqGridRowValue("GUID");
            if (checkedRow(keyValue)) {
                var selectedRowIndex = $('#gridTable').getGridParam('selrow');
                var dt = $('#gridTable').jqGrid("getRowData", selectedRowIndex);
                var fileName = dt.DISASTERNAME;
                var queryJson = { "GUID": dt.GUID, "DISASTERTYPE": dt.DISASTERTYPE, moduleId: modeId_Dzpaicha };
                var url = "../../JXGeoManage/TBL_HAZARDBASICINFO/ExportWord?filename=" + fileName + "&queryJson=" + JSON.stringify(queryJson);
                window.location.href = url;
            }
        }
</script>
<style>
 .ui-layout-resizer {
        background-color: #f0f3f4 !important;
    }

    #ui_grid {
     overflow:hidden!important;
    }

    .spansa {
        padding: 0 20px !important;
        width: 9%;
        text-align: center;
        height: 28px;
        line-height: 28px;
        min-width: 113px;
    }

    .spans {
        padding: 0 10px;
        width: 9%;
        text-align: right;
        height: 28px;
        line-height: 28px;
        min-width: 100px;
    }
    .ui-select-text, .form-control {
        border-radius: 4px;
    }
    .fa-folder-open {
        color: transparent !important;
        background: url("../../Content/images/zTreeStandard.png") no-repeat;
        background-position: -110px -16px;
        margin-right: 2px;
        width: 16px !important;
        height: 16px !important;
    }

    .fa-folder {
        color: transparent !important;
        background: url("../../Content/images/zTreeStandard.png") no-repeat;
        background-position: -110px 0;
        margin-right: 2px;
        width: 16px !important;
        height: 16px !important;
    }

    .fa-file-o {
        color: transparent !important;
        background: url("../../Content/images/zTreeStandard.png") no-repeat;
        background-position: -110px -32px;
        width: 16px !important;
        height: 16px !important;
    }
    #gridTable td {
        border-right: 1px solid #ccc !important;
    }
    #gridTable tr:nth-child(odd) {
        /*background:#DCDCDC*/
    }

    #layout2 {
    overflow:visible!important;
    }
    .link-detail{
        text-decoration:underline !important;
    }
    .link-detail:hover{
        color:#337ab7;
    }
</style>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west" style="height:100%">
        <div class="west-Panel" style="margin:0px;height:100%">
            <div class="panel-Title" style="height:40px;line-height:40px;background-color: rgba(236, 247, 255, 1);color:#000">行政区划</div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center" id="ui_center">
        <div class="center-Panel" style="height: 100%;width:100%;margin-top:0px;">
            <div style="width:100%;height:38px;background:#fff;position:relative" id="PCCX">
                <div id="GJCX" style="position:absolute;top:-120px;z-index:3;width:100%;transition:all 0.6s">
                    <div style="width: 100%; height: 40px;background-color: rgba(255, 255, 255, 0.8);color:#000; display: flex; align-items: center; position: relative;padding-right: 10px;">
                        @*<span class="spans">灾害点名称:</span><input id="DISASTERNAME" type="text" class="form-control" style="width: 16%" />
                        <span class="spans">灾害点编号:</span><input id="UNIFIEDCODE" type="text" class="form-control" style="width: 16%" />*@
                        <span class="spans">灾害点类型:</span><div id="DISASTERTYPE" type="select" class="ui-select" style="width: 16%"></div>
                        <span class="spans">是否隐患点:</span><div id="HIDDENDANGER" type="select" class="ui-select" style="width: 16%"></div>
@*                        <span class="spans">重要隐患点:</span><div id="ISIMPORTANT" type="select" class="ui-select" style="width: 16%"></div>*@
                        <span class="spans">灾情等级:</span><div id="DISASTERLEVEL" type="select" class="ui-select" style="width: 16%"></div>
                    </div>
                    <div style="width: 100%; height: 40px;background-color: rgba(255, 255, 255, 0.8);color:#000; display: flex; align-items: center; position: relative;padding-right: 10px;">                                              
                        <span class="spans">险情等级:</span><div id="DANGERLEVEL" type="select" class="ui-select" style="width: 16%;"></div>
                      @*  <span class="spans">是否销号:</span><div id="ISXH" type="select" class="ui-select" style="width: 16%;"></div>
                        <span class="spans">销号原因:</span><div id="LOSEREASON" type="select" class="ui-select" style="width: 16%;"></div>*@
                        <span class="spans">年度查询:</span><input id="YEAR" type="text" class="form-control input-wdatepicker" datefmt="yyyy-MM-dd" style="width: 16%;" onfocus="WdatePicker({ dateFmt: 'yyyy' })" />
                    </div>
                    @*<div style="width: 100%; height: 40px;background-color: rgba(255, 255, 255, 0.8);color:#000; display: flex; align-items: center; position: relative;padding-right: 10px;">                       
                        <span class="spans">威胁人口范围:</span><span  style="width: 16%;"><input id="THREATENPEOPLEBEGIN" type="text" class="form-control" style="width:46%;display:inline-block" />~<input id="THREATENPEOPLEEND" type="text" class="form-control" style="width:46%;display:inline-block" /></span>
                        <span class="spans">死亡人口范围:</span><span  style="width: 16%;"><input id="DEATHTOLLBEGIN" type="text" class="form-control" style="width: 46%;display:inline-block" />~<input id="DEATHTOLLEND" type="text" class="form-control" style="width:46%;display:inline-block" /></span>
                        <span class="spans">财产损失范围:</span><span  style="width: 16%;"><input id="ASSETSLOSEBEGIN" type="text" class="form-control" style="width: 46%;display:inline-block" />~<input id="ASSETSLOSEEND" type="text" class="form-control" style="width: 46%;display:inline-block" /></span>                      
                    </div>*@
                    <div style="width: 100%; height: 40px;background-color: rgba(255, 255, 255, 0.8);color:#000; display: flex;justify-content: flex-end; align-items: center; position: relative;">
                        <a id="btn_Search_higher" class="btn btn-primary" style="cursor: pointer; color: white;padding:4px 12px;margin-left:30px"><i class="fa fa-search"></i>查询</a>
                        <a class="btn btn-primary" id="btn_Reset" style="background:gray;border:1px solid gray;height:27px;padding:4px 17px;margin:0 30px; color: white; display:inline-block; cursor: pointer;">重置</a>
                    </div>
                </div>
                <ul class="nav nav-tabs" style="background-color: rgba(236, 247, 255, 1);height:38px;padding-top:0;position:relative;z-index:999;margin-top:-1px;">
                    <li> 
                        <div style="float:left;margin-top:10px;">
                                <div class="title-search">
                                    <table>
                                        <tr>
                                            <td style="font-size:14px; color: #000; padding: 0px 6px 10px 0px;font-weight:bold !important;"><i class="fa fa-bars" style="margin-right:10px;"></i>查询条件:</td>                                           
                                            <td>
                                                <input id="txt_Key" type="text" class="form-control" placeholder="请输灾害点名称、编号" style="width: 200px; height:28px; outline:none; margin:-7px 10px 0px 20px;" />
                                            </td>
                                            <td style="padding:0 0 8px 3px;">
                                                <a id="btn_Search" style="font-size:16px; cursor:pointer;"><i class="fa fa-search" style="margin: -9px 10px 0px 0px"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                        </div>
                    </li>
                    <li style="float: right;">
                        <span id="serch-btn" style="font-size: 15px; float: right; padding: 10px;cursor:pointer"><i id="fontfamily" class="fa fa-caret-right" style="padding-right: 3px;"></i>高级查询</span>
                    </li>
                </ul>
            </div>
           <div id="myTabContent" class="tab-content" style="height: calc(100% - 50px); width: 100%;background:#fff">
                <div class="ui-layout" id="layout2" style="height: 100%; width: 100%;">
                    <div class="ui-layout-north" id="ui_map">
                        <div id="mapControl"></div>
                    </div>
                    <div class="ui-layout-center" id="ui_grid">
                        <div class="titlePanel" style="height:40px;line-height:40px">
                            <span class="panel-Title" style="color:#000">数据列表</span>
                            <div class="toolbar2" style="float:right;margin-right:30px;height:40px;line-height:40px;display:flex;align-items: center;">
                                <div class="btn-group">
                                    <a id="lr-export" class="btn btn-default" onclick="ExpExl()"><i class="fa fa-sign-in"></i>&nbsp;导出</a>
                                    <a id="lr-export-word" class="btn btn-default" onclick="btn_Word()"><i class="fa fa-file-word-o"></i>导出word</a>
                                    <a id="lr_detail" class="btn btn-default" onclick="ViewDetail()"><i class="fa fa-pencil-square-o"></i>详情</a>
                                    <a id="lr-replace" class="btn btn-default" onclick="shuaxin()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                                </div>
                                <div class="btn-group" style="margin-left:5px;">
                                    <a id="lr-colgrid" class="btn btn-default" onclick="ColDataGrid()"><i class="fa fa-chevron-down"></i>列表</a>
                                    <a id="lr-colmap" class="btn btn-default" onclick="ColMapDiv()"><i class="fa fa-chevron-up"></i>地图</a>
                                </div>
                            </div>
                           @* <div style="clear:both"></div>*@
                        </div>
                        <div class="gridPanel">
                            <table id="gridTable"></table>
                            <div id="gridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>