@{
    ViewBag.Title = "统计内容";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="tanchukuan">

    <div class="tanchukuan-left">

        <div class="tanchukuan-left1">
            <h1>灾害类型</h1>
            <table class="zaihai-leixing1">
                <tr>
                    <td>
                        <input type="checkbox" class="huxian" id="disasterCount" value="灾害总数" />灾害总数</td>
                    <td>
                        <input type="checkbox" class="huxian" id="dangerousCount" value="隐患点" />隐患点</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <input type="checkbox" class="huxian" id="allzh" value="allzh" />全选</td>
                    <td>
                        <input type="checkbox" class="huxian" id="huap" value="滑坡" />滑坡</td>
                    <td>
                        <input type="checkbox" class="huxian" id="zhlxbengt" value="崩塌" />崩塌</td>
                    <td>
                        <input type="checkbox" class="huxian" id="zhlxxiep" value="斜坡" />斜坡
                    </td>
                    <td>
                        <input type="checkbox" class="huxian" id="zhlxnisl" value="泥石流" />泥石流</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="huxian" id="zhlxdimcj" value="地面沉降" />地面沉降</td>
                    <td>
                        <input type="checkbox" class="huxian" id="zhlxdilf" value="地裂缝" />地裂缝</td>
                    <td>
                        <input type="checkbox" class="huxian" id="zhlxtax" value="地面塌陷" />地面塌陷</td>
                    <td></td>
                </tr>
                

            </table>
        </div>

        <div class="tanchukuan-left1">
            <h1>稳定及变形情况</h1>
            <table class="zaihai-leixing2">
                <tr>
                    <td rowspan="2">
                        <input type="checkbox" class="huxian" id="allwendbxqk" value="allwendbxqk" />全选</td>
                    <td>目前稳定性程度</td>
                    <td>
                        <input type="checkbox" class="huxian" id="wdwendxh" value="目前稳定性好" />稳定性好</td>
                    <td>
                        <input type="checkbox" class="huxian" id="wdwendxjc" value="目前稳定性较差" />稳定性较差</td>
                    <td>
                        <input type="checkbox" class="huxian" id="wdwendxc" value="目前稳定性差" />稳定性差</td>
                </tr>
                <tr>
                    <td>今后变化趋势</td>
                    <td>
                        <input type="checkbox" class="huxian" id="bhwendxh" value="今后稳定性好" />稳定性好</td>
                    <td>
                        <input type="checkbox" class="huxian" id="bhwendxjc" value="今后稳定性较差" />稳定性较差</td>
                    <td>
                        <input type="checkbox" class="huxian" id="bhwendxc" value="今后稳定性差" />稳定性差</td>
                </tr>

            </table>

        </div>

        <div class="tanchukuan-left1">
            <h1>灾害影响及潜在威胁</h1>
            <table class="zaihai-leixing3">
                <tr>
                    <td rowspan="2">
                        <input type="checkbox" class="huxian" id="allzhyxjqzwx" value="allzhyxjqzwx" />全选</td>
                    <td>造成危害</td>
                    <td>
                        <input type="checkbox" class="huxian" id="shfw" value="损坏房屋" />损坏房屋(间)</td>
                    <td>
                        <input type="checkbox" class="huxian" id="huil" value="毁路" />毁路</td>
                    <td>
                        <input type="checkbox" class="huxian" id="huiqu" value="毁渠" />毁渠</td>
                    <td>
                        <div style="display: none;">
                            <input type="checkbox" class="huxian" id="qitwh" value="其它危害" />其它危害
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1">潜在威胁</td>
                    <td class="auto-style1">
                        <input type="checkbox" class="huxian" id="qianzwxweixrk" value="威胁人口" />威胁人口(人)</td>
                    <td class="auto-style1">
                        <input type="checkbox" class="huxian" id="qianzwxweixcc" value="威胁财产" />威胁财产(万元)</td>
                    <td class="auto-style1"></td>
                </tr>

            </table>

        </div>

        <div class="tanchukuan-left1">
            <h1>监测及防治情况</h1>
            <table class="zaihai-leixing4">
                <tr>
                    <td rowspan="2">
                        <input type="checkbox" class="huxian" id="alljcjfzqk" value="alljcjfzqk" />全选</td>
                    <td>监测建议</td>
                    <td>
                        <input type="checkbox" class="huxian" id="dingqmsjc" value="定期目视监测" />定期目视监测</td>
                    <td>
                        <input type="checkbox" class="huxian" id="anzjyjcss" value="安装简易监测设施" />安装简易监测设施</td>
                    <td>
                        <input type="checkbox" class="huxian" id="dimwyjc" value="地面位移监测" />地面位移监测</td>
                    <td>
                        <input type="checkbox" class="huxian" id="shebbwyjc" value="深部位移监测" />深部位移监测</td>
                </tr>
                <tr>
                    <td>防治建议</td>
                    <td>
                        <input type="checkbox" class="huxian" id="quncqf" value="群测群防" />群测群防</td>
                    <td>
                        <input type="checkbox" class="huxian" id="zhuanyjc" value="专业监测" />专业监测</td>
                    <td>
                        <input type="checkbox" class="huxian" id="banqbr" value="搬迁避让" />搬迁避让</td>
                    <td>
                        <input type="checkbox" class="huxian" id="gongczl" value="工程治理" />工程治理</td>
                </tr>

            </table>

        </div>


    </div>

    <div class="tanchukuan-right">
        <fieldset class="tanchukuan-right1">
            <legend>统计内容</legend>

            <div style="margin: 0 0 10px 0;">
                <a href="javascript:void(0);" class="xuanding" id="allcheck">全部选定</a>
                <a href="javascript:void(0);" class="xuanding" id="canclecheck">取消全部</a>
            </div>
                <div style="margin: 0 0 10px 0;">
                <a href="javascript:void(0);" class="xuanding" id="selectup">上移</a>
                <a href="javascript:void(0);" class="xuanding" id="selectdown">下移</a>
            </div>
                 <div style="margin: 0 0 10px 0;">
                <a href="javascript:void(0);" class="xuanding" id="checkall">查看全部字段</a>
                <a href="javascript:void(0);" class="xuanding" id="delectselect">删除</a>
            </div>
            <div class="wenzi">
                <div id="treeDiv" style="height: 288px; overflow: auto; background-color: #FFFFFF; margin: 0 auto;">
                    <div id="treemenu">
                        <ul id="tree" style="list-style-type: none">
                            <li style="text-align: left; cursor: pointer" id="zaihaiallcount">
                                <p>灾害总数<span style="display: none"></span></p>
                            </li>
                            <li style="text-align: left; cursor: pointer" id="yinhuandiancount" class="caidan" onclick="javascript:object_statistics=$(this)[0];object_check='dangerousCount,allzh'">
                                <p>隐患点<span style="display: none">|0|yinhuandiancount|dangerousCount</span></p>
                            </li>
                            <li state="closed" class="caidan" id="bengTa" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='zhlxbengt,allzh'">
                                <p>崩塌<span style="display: none">|1|bengTa|zhlxbengt,allzh</span></p>
                                <ul style="list-style-type: none">
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxbengt,allzh|bengTa';mark_statistics=false">
                                        <div>崩塌个数</div>
                                        <span style="display: none">|0|3|bengTa</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxbengt,allzh|bengTa';mark_statistics=false">
                                        <div>崩塌面积</div>
                                        <span style="display: none">|1|3|bengTa</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxbengt,allzh|bengTa';mark_statistics=false">
                                        <div>崩塌体积</div>
                                        <span style="display: none">|2|3|bengTa</span></li>
                                </ul>
                            </li>
                            
                            <li state="closed" class="caidan" id="taXian" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='zhlxtax,allzh'">
                                <p>地面塌陷<span style="display: none">|2|taXian|zhlxtax,allzh</span></p>
                                <ul style="list-style-type: none">
                                    <li onclick="javascript:$('.caidan p').each(function () { 
                                                 $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxtax,allzh|taXian';mark_statistics=false">
                                        <div>塌陷个数</div>
                                        <span style="display: none">|0|3|taXian</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxtax,allzh|taXian';mark_statistics=false">
                                        <div>塌陷面积</div>
                                        <span style="display: none">|1|3|taXian</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxtax,allzh|taXian';mark_statistics=false">
                                        <div>塌陷体积</div>
                                        <span style="display: none">|2|3|taXian</span></li>
                                </ul>

                            </li>
                            
                                    <li state="closed" class="caidan" id="nishiLiu" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='zhlxnisl,allzh'">
                                        <p>泥石流<span style="display: none">|3|nishiLiu|zhlxnisl,allzh</span></p>
                                        <ul style="list-style-type: none">
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxnisl,allzh|nishiLiu';mark_statistics=false">
                                                <div>泥石流个数</div>
                                                <span style="display: none">|0|3|nishiLiu</span></li>
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxnisl,allzh|nishiLiu';mark_statistics=false">
                                                <div>泥石流面积</div>
                                                <span style="display: none">|1|3|nishiLiu</span></li>
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxnisl,allzh|nishiLiu';mark_statistics=false">
                                                <div>泥石流体积</div>
                                                <span style="display: none">|2|3|nishiLiu</span></li>
                                        </ul>
                                    </li>
                            <li state="closed" class="caidan" id="dimcj" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='zhlxdimcj,allzh'">
                                <p>地面沉降<span style="display: none">|4|dimcj|zhlxdimcj,allzh</span></p>
                                <ul style="list-style-type: none">
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxdimcj,allzh|dimcj';mark_statistics=false">
                                        <div>地面沉降个数</div>
                                        <span style="display: none">|0|3|dimcj</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxdimcj,allzh|dimcj';mark_statistics=false">
                                        <div>地面沉降面积</div>
                                        <span style="display: none">|1|3|dimcj</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxdimcj,allzh|dimcj';mark_statistics=false">
                                        <div>地面沉降体积</div>
                                        <span style="display: none">|2|3|dimcj</span></li>
                                </ul>
                            </li>
                            
                                    <li state="closed" class="caidan" id="dilieFeng" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='zhlxdilf,allzh'">
                                        <p>地裂缝<span style="display: none">|5|dilieFeng|zhlxdilf,allzh</span></p>
                                        <ul style="list-style-type: none">
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxdilf,allzh|dilieFeng';mark_statistics=false">
                                                <div>地裂缝个数</div>
                                                <span style="display: none">|0|3|dilieFeng</span></li>
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxdilf,allzh|dilieFeng';mark_statistics=false">
                                                <div>地裂缝面积</div>
                                                <span style="display: none">|1|3|dilieFeng</span></li>
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxdilf,allzh|dilieFeng';mark_statistics=false">
                                                <div>地裂缝体积</div>
                                                <span style="display: none">|2|3|dilieFeng</span></li>
                                        </ul>
                                    </li>
                            
                                    <li state="closed" class="caidan" id="huaPo" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='huap,allzh'">
                                        <p>滑坡<span style="display: none">|6|huaPo|huap,allzh</span></p>
                                        <ul style="list-style-type: none">
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='huap,allzh|huaPo';mark_statistics=false">
                                                <div>滑坡个数</div>
                                                <span style="display: none">|0|3|huaPo</span></li>
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='huap,allzh|huaPo';mark_statistics=false">
                                                <div>滑坡面积</div>
                                                <span style="display: none">|1|3|huaPo</span></li>
                                            <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='huap,allzh|huaPo';mark_statistics=false">
                                                <div>滑坡体积</div>
                                                <span style="display: none">|2|3|huaPo</span></li>
                                        </ul>
                                    </li>
                            <li state="closed" class="caidan" id="xiePo" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='zhlxxiep,allzh'">
                                <p>斜坡<span style="display: none">|7|xiePo|zhlxxiep,allzh</span></p>
                                <ul style="list-style-type: none">
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxxiep,allzh|xiePo';mark_statistics=false">
                                        <div>斜坡个数</div>
                                        <span style="display: none">|0|3|xiePo</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxxiep,allzh|xiePo';mark_statistics=false">
                                        <div>斜坡面积</div>
                                        <span style="display: none">|1|3|xiePo</span></li>
                                    <li onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhlxxiep,allzh|xiePo';mark_statistics=false">
                                        <div>斜坡体积</div>
                                        <span style="display: none">|2|3|xiePo</span></li>
                                </ul>
                            </li>
                            
                                    <li state="closed" class="caidan" id="wendingcd" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='wdwendxh,wdwendxjc,wdwendxc,allwendbxqk'">
                                        <p>目前稳定程度<span style="display: none">|8|wendingcd|wdwendxh,wdwendxjc,wdwendxc,allwendbxqk</span></p>
                                        <ul style="list-style-type: none">
                                            <li id="wendwendxh" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='wdwendxh,allwendbxqk|wendingcd';mark_statistics=true">
                                                <div>稳定性好</div>
                                                <span style="display: none">|0|3|wendingcd</span></li>
                                            <li id="wendwendxjc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='wdwendxjc,allwendbxqk|wendingcd';mark_statistics=true">
                                                <div>稳定性较差</div>
                                                <span style="display: none">|1|3|wendingcd</span></li>
                                            <li id="wendwenxc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='wdwendxc,allwendbxqk|wendingcd';mark_statistics=true">
                                                <div>稳定性差</div>
                                                <span style="display: none">|2|3|wendingcd</span></li>
                                        </ul>
                                    </li>
                            <li state="closed" class="caidan" id="bianhuaqs" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='bhwendxh,bhwendxjc,bhwendxc,allwendbxqk'">
                                <p>今后变化趋势<span style="display: none">|9|bianhuaqs|bhwendxh,bhwendxjc,bhwendxc,allwendbxqk</span></p>
                                <ul style="list-style-type: none">
                                    <li id="bianhqsh" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='bhwendxh,allwendbxqk|bianhuaqs';mark_statistics=true">
                                        <div>稳定性好</div>
                                        <span style="display: none">|0|3|bianhuaqs</span></li>
                                    <li id="bianhqsjc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='bhwendxjc,allwendbxqk|bianhuaqs';mark_statistics=true">
                                        <div>稳定性较差</div>
                                        <span style="display: none">|1|3|bianhuaqs</span></li>
                                    <li id="bianhqsc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='bhwendxc,allwendbxqk|bianhuaqs';mark_statistics=true">
                                        <div>稳定性差</div>
                                        <span style="display: none">|2|3|bianhuaqs</span></li>
                                </ul>
                            </li>
                            <li state="closed" class="caidan" id="zaocweih" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='shfw,huil,huiqu,qitwh,allzhyxjqzwx'">
                                <p>造成危害<span style="display: none">|10|zaocweih|shfw,huil,huiqu,qitwh,allzhyxjqzwx</span></p>
                                <ul style="list-style-type: none">
                                    <li id="ccwhshfw" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='shfw,allzhyxjqzwx|zaocweih';mark_statistics=true">
                                        <div>损坏房屋</div>
                                        <span style="display: none">|0|4|zaocweih</span></li>
                                    <li id="ccwhhl" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='huil,allzhyxjqzwx|zaocweih';mark_statistics=true">
                                        <div>毁路</div>
                                        <span style="display: none">|1|4|zaocweih</span></li>
                                    <li id="ccwhhq" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='huiqu,allzhyxjqzwx|zaocweih';mark_statistics=true">
                                        <div>毁渠</div>
                                        <span style="display: none">|2|4|zaocweih</span></li>
                                    <li id="ccwhqtwh" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='qitwh,allzhyxjqzwx|zaocweih';mark_statistics=true">
                                        <div>其他危害</div>
                                        <span style="display: none">|3|4|zaocweih</span></li>
                                </ul>
                            </li>
                            <li state="closed" class="caidan" id="qianzwx" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='qianzwxweixrk,qianzwxweixcc,allzhyxjqzwx'">
                                <p>潜在威胁<span style="display: none">|11|qianzwx|qianzwxweixrk,qianzwxweixcc,allzhyxjqzwx</span></p>
                                <ul style="list-style-type: none">
                                    <li id="qzwxwxrk" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='qianzwxweixrk,allzhyxjqzwx|qianzwx';mark_statistics=true">
                                        <div>威胁人口</div>
                                        <span style="display: none">|0|2|qianzwx</span></li>
                                    <li id="qzwxwxcc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='qianzwxweixcc,allzhyxjqzwx|qianzwx';mark_statistics=true">
                                        <div>威胁财产</div>
                                        <span style="display: none">|1|2|qianzwx</span></li>
                                </ul>
                            </li>
                            <li state="closed" class="caidan" id="jiancejy" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='dingqmsjc,anzjyjcss,dimwyjc,shebbwyjc,alljcjfzqk'">
                                <p>监测建议<span style="display: none">|12|jiancejy|dingqmsjc,anzjyjcss,dimwyjc,shebbwyjc,alljcjfzqk</span></p>
                                <ul style="list-style-type: none">
                                    <li id="jcjydqmsjc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='dingqmsjc,alljcjfzqk|jiancejy';mark_statistics=true">
                                        <div>定期目视监测</div>
                                        <span style="display: none">|0|4|jiancejy</span></li>
                                    <li id="jcjyazjyjcss" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='anzjyjcss,alljcjfzqk|jiancejy';mark_statistics=true">
                                        <div>安装简易监测设施</div>
                                        <span style="display: none">|1|4|jiancejy</span></li>
                                    <li id="jcjydmwyjc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='dimwyjc,alljcjfzqk|jiancejy';mark_statistics=true">
                                        <div>地面位移监测</div>
                                        <span style="display: none">|2|4|jiancejy</span></li>
                                    <li id="jcjysbwyjc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='shebbwyjc,alljcjfzqk|jiancejy';mark_statistics=true">
                                        <div>深部位移监测</div>
                                        <span style="display: none">|3|4|jiancejy</span></li>
                                </ul>
                            </li>
                            <li state="closed" class="caidan" id="fangzhijy" style="cursor: pointer" onclick="javascript:object_statistics_p=$(this)[0];object_check='quncqf,zhuanyjc,banqbr,gongczl,alljcjfzqk'">
                                <p>防治建议<span style="display: none">|13|fangzhijy|quncqf,zhuanyjc,banqbr,gongczl,alljcjfzqk</span></p>
                                <ul style="list-style-type: none">
                                    <li id="fzjyqcqf" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='quncqf,alljcjfzqk|fangzhijy';mark_statistics=true">
                                        <div>群测群防</div>
                                        <span style="display: none">|0|4|fangzhijy</span></li>
                                    <li id="fzjyzyjc" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='zhuanyjc,alljcjfzqk|fangzhijy';mark_statistics=true">
                                        <div>专业监测</div>
                                        <span style="display: none">|1|4|fangzhijy</span></li>
                                    <li id="fzjybqbr" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='banqbr,alljcjfzqk|fangzhijy';mark_statistics=true">
                                        <div>搬迁避让</div>
                                        <span style="display: none">|2|4|fangzhijy</span></li>
                                    <li id="fzjygczl" onclick="javascript:$('.caidan p').each(function () {  $(this).css('color', '#000');});  $('.caidan li').each(function () {  $(this).css('color', '#000');  });$(this).css('color','green');parent_statistics=false;markname_statistics=true;object_statistics=$(this)[0];txmark_statistics='gongczl,alljcjfzqk|fangzhijy';mark_statistics=true">
                                        <div>工程治理</div>
                                        <span style="display: none">|3|4|fangzhijy</span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0);" class="queding" id="yes">确定</a><a href="javascript:void(0);" class="quxiao" id="cancle">取消</a>
        </fieldset>

    </div>
</div>
@System.Web.Optimization.Styles.Render(
    "~/Content/disaster/Base.css",
"~/Content/disaster/GeoMap2.css")
@System.Web.Optimization.Scripts.Render(
    "~/Content/disaster/Statistics.js"
)
@section Scripts{
<script>
    function AcceptClick() {
        learun.dialogClose();
        return getSelectVal();
    }
</script>
}
