@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_IndexMap.cshtml";
}
    <div class="center-Panel" style="height: 100%; width: 100%;">
            <ul class="nav nav-tabs">
                <li class="active" id="li_HPGL"><a href="#HPGL" data-toggle="tab">待提交</a></li>
                <li id="li_BTGL"><a href="#BTGL" data-toggle="tab">提交历史</a></li>
            </ul>
        <div id="myTabContent" class="tab-content" style="height:100%">
            <div class="tab-pane fade in active" id="HPGL" style="height:100%">
                 <div style="width:100%;height:50px;line-height: 50px;margin-left:20px">
                      <a id="btn_Search" onclick="" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;批量提交</a>
                 </div>
                 <div class="gridPanel">
                      <table id="gridTable1"></table>
                      <div id="gridPager1"></div>
                 </div>
            </div>
            <div class="tab-pane fade" id="BTGL" style="height:100%;width:100%">
                 <div style="width:100%;height:50px;line-height: 50px;margin-left:20px" class="title-search" id="filter-form">
                    <table>
                        <tr>
                            <td>
                                <input id="DISASTERTYPE" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td>
                               <div id="SH" type="selectTree" class="ui-select" style="width:100px;margin-left: 10px;"></div>
                            </td>
                            <td style="padding-left: 10px;">
                                提交时间：
                            </td>
                            <td style="padding-left: 10px;">
                                <input id="" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                            </td>
                            <td style="padding-left: 10px;">
                                <input id="" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                            </td>
                            <td style="padding-left: 10px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                            </td>
                        </tr>
                    </table>
                 </div>
                 <div class="gridPanel"  style="height:100%;width:100%">
                      <table id="gridTable2" style="width:100%"></table>
                      <div id="gridPager2"></div>
                 </div>
            </div>
        </div>
    </div>
<style>
    .ui-layout-center {
       overflow-x: hidden !important;
    }
    .ui-layout-resizer {
        background-color:#f0f3f4 !important;
    }
    .diaochabiao {
        text-align: center;
    }


    .table-top, .table-main, table-bottom {
        margin: 0 20px;
    }

        .table-main td {
            border: 1px solid #D6D6D6;
        }

    .formValue input[type=text] {
        border: 0;
        border-bottom: 1px solid #E0E0E0;
    }

    .diaochabiao .formValue textarea {
        /*height:80px;*/
        border: none;
    }

    .diaochabiao .formTitle {
        text-align: center !important;
        /*width: 135px !important;*/
        background-color: #F5F5F5;
        white-space: inherit;
    }

    .diaochabiao .formCategory {
        font-size: 15px;
        /*color: #3F549E;*/
    }

    .diaochabiao .required {
        color: red;
        padding-left: 5px;
        vertical-align: middle;
    }

    .diaochabiao select {
        border: none;
    }

    .diaochabiao label {
        margin: 0 2px;
    }


    /****************** td中的多个标签并列 START *************/
    .diaochabiao .multi-label-48 {
        width: 48%;
    }

        .diaochabiao .multi-label-48 input {
            float: right;
            width: 70%;
            margin: 0 2px;
        }

    .diaochabiao .multi-label-40 {
        width: 40%;
    }

    .diaochabiao .multi-label-30 {
        width: 30%;
    }

        .diaochabiao .multi-label-30 input {
            float: left;
            width: 70%;
            margin: 0 2px;
        }

    .diaochabiao .multi-label-10 {
        width: 10%;
    }

        .diaochabiao .multi-label-10 input {
            float: left;
        }

    .diaochabiao .multi-label-15 {
        width: 15%;
    }

        .diaochabiao .multi-label-15 input {
            float: left;
            width: 20%;
            margin: 0 2px;
        }
    /*新增*/
    .formValue input[type=text] .diaochabiao .label-1 {
        width: 5%;
    }

    .diaochabiao .label-1 input {
        float: left;
    }

    .diaochabiao .form-control[readonly], fieldset[readonly] .form-control {
        background-color: #fff;
        border: none;
        cursor: default;
    }

    .diaochabiao .form-control {
        border: none;
    }
    /*新增*/


    /****************** td中的多个标签并列 START *************/

    /****************** 保持标题文字两边对其的样式 START *************/
    .KONG {
        padding-left: 24px;
    }

    .diaochabiao .multi-label-rigth-30 {
        width: 30%;
    }

        .diaochabiao .multi-label-rigth-30 input {
            float: right;
            width: 70%;
            margin: 0 2px;
        }


    .diaochabiao .multi-label-rigth-25 {
        width: 20%;
        /*display:none;*/
    }

        .diaochabiao .multi-label-rigth-25 input {
            float: right;
            width: 90%;
            margin: 0 2px;
        }
    /****************** td中的2个input并列 START *************/

    /****************** 保持标题文字两边对其的样式 END *************/

    .ui-priority-secondary {
        background-color: #DCDCDC;
        color: #222222;
    }
</style>
@section Scripts{
<script>
    $(function () {
        GetGrid();
        initSelect();
        GetGridTDY()
    });

    //加载表格一
    function GetGrid() {
        //var selectedRowIndex = 0;
        //var queryJson = $("#filter-form").getWebControls();
        var $gridTable = $('#gridTable1');
        $gridTable.jqGrid({
            autowidth: true,
            //postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 570,
           // url: "../../JXGeoManage/TBL_HAZARDBASICINFO/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '灾害体名称', name: 'DISASTERTYPENAME', index: 'DISASTERTYPENAME', width: 100, align: 'left', sortable: true },
                { label: '灾害体类型', name: 'DISASTERTYPETYPE', index: 'DISASTERTYPETYPE', width: 100, align: 'left', sortable: true },
                { label: '地理位置', name: 'DLWZ', index: 'DLWZ', width: 100, align: 'left', sortable: true },
                { label: '状态', name: 'ZT', index: 'ZT', width: 100, align: 'left', sortable: true },
            ],
            multiselect:true,
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager1",
            sortname: 'UNIFIEDCODE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //加载表格二
    function GetGridTDY() {
        //var selectedRowIndex = 0;
        //var queryJson = $("#filter-form").getWebControls();
        var $gridTable = $('#gridTable2');
        $gridTable.jqGrid({
            autowidth: 1000,
            //postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 570,
            // url: "../../JXGeoManage/TBL_HAZARDBASICINFO/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '灾害体名称', name: 'ZHTMC', index: 'ZHTMC', width: 100, align: 'left', sortable: true },
                { label: '灾害体类型', name: 'ZHTLX', index: 'ZHTLX', width: 100, align: 'left', sortable: true },
                { label: '地理位置', name: 'ZHTDLWZ', index: 'ZHTDLWZ', width: 100, align: 'left', sortable: true },
                { label: '审核状态', name: 'ZHTZT', index: 'ZHTZT', width: 100, align: 'left', sortable: true },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager2",
            sortname: 'UNIFIEDCODE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    function initSelect() {
        $("#SH").ComboBox({
            id: "label",
            text: "value",
            description: "",
            height: "170px",
            data: [
                { label: "待审核", value: "待审核" },
                { label: "已审核", value: "已审核" },
            ],

        });

    }
</script>
}
