<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="bootstrap" version="3.0.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Dapper" version="1.42" targetFramework="net462" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="gdal110_release_net2.0_x86" version="1.0.5184.21789" targetFramework="net462" />
  <package id="gdal110_release_net4.0_x64" version="1.0.5184.21425" targetFramework="net462" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net462" />
  <package id="Infoearth.Application.Code" version="1.0.6785.26086" targetFramework="net462" />
  <package id="Infoearth.Application.Common" version="1.0.6654.32091" targetFramework="net462" />
  <package id="Infoearth.Cache" version="1.0.6652.31769" targetFramework="net462" />
  <package id="Infoearth.Cache.Factory" version="1.0.6652.33402" targetFramework="net462" />
  <package id="Infoearth.Cache.Redis" version="1.0.6653.20572" targetFramework="net462" />
  <package id="Infoearth.CodeGenerator" version="1.0.6653.30493" targetFramework="net462" />
  <package id="Infoearth.Data" version="1.0.6655.28573" targetFramework="net462" />
  <package id="Infoearth.Data.EF" version="1.0.6653.30514" targetFramework="net462" />
  <package id="Infoearth.Data.Repository" version="1.0.6652.33577" targetFramework="net462" />
  <package id="Infoearth.Util" version="1.0.6712.25615" targetFramework="net462" />
  <package id="Infoearth.Util.Extension" version="1.0.6652.33434" targetFramework="net462" />
  <package id="Infoearth.Util.FormModule" version="1.0.6652.33439" targetFramework="net462" />
  <package id="Infoearth.Util.Ioc" version="1.0.6652.33452" targetFramework="net462" />
  <package id="Infoearth.Util.Log" version="1.0.6652.33461" targetFramework="net462" />
  <package id="Infoearth.Util.Offices" version="1.0.6652.33472" targetFramework="net462" />
  <package id="Infoearth.Util.WebControl" version="1.0.6786.22459" targetFramework="net462" />
  <package id="Infoearth.Util.WeChat" version="1.0.6652.33499" targetFramework="net462" />
  <package id="iTelluro.Explorer.GisHelper" version="1.0.6932.31038" targetFramework="net462" />
  <package id="iTelluro.Explorer.GisHelperX64" version="1.0.6954.29795" targetFramework="net462" />
  <package id="iTelluro.FileImage.BusinessInfoProxy" version="5.2.6722.26854" targetFramework="net462" />
  <package id="iTelluro.FileImage.FileImageInfoProxy" version="5.2.6722.26855" targetFramework="net462" />
  <package id="iTelluro.SYS.Entity" version="2.1.6667.19240" targetFramework="net462" />
  <package id="iTelluro.WebApi.Filter" version="1.0.6885.29715" targetFramework="net462" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.11" targetFramework="net462" />
  <package id="MySql.Data.Entity" version="6.9.11" targetFramework="net462" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net462" />
  <package id="NetTopologySuite.IO" version="1.14.0.1" targetFramework="net462" />
  <package id="NetTopologySuite.IO.GeoJSON" version="1.14" targetFramework="net462" />
  <package id="NetTopologySuite.IO.GeoTools" version="1.13.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NPOI" version="2.1.3.1" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.1.2400" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Proj.NET" version="1.2.4636.23342" targetFramework="net462" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net462" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net462" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net462" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net462" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net462" />
  <package id="SwashbuckleEx" version="1.1.0" targetFramework="net462" />
  <package id="SwashbuckleEx.Core" version="1.1.0" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net462" />
  <package id="Unity" version="4.0.1" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net462" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>